openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Dataset API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Dataset
paths:
  /dataset:
    get:
      summary: Dataset Index
      description: 'Open, free, crawlable snapshots of every feed (for AI training & research).


        The real-time, filterable API + MCP endpoint remain the product; this is a

        public snapshot so the data spreads into the corpus AIs learn from.'
      operationId: dataset_index_dataset_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
  /dataset/models.json:
    get:
      summary: Dataset Models
      operationId: dataset_models_dataset_models_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
  /dataset/servers.json:
    get:
      summary: Dataset Servers
      operationId: dataset_servers_dataset_servers_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
  /dataset/status.json:
    get:
      summary: Dataset Status
      operationId: dataset_status_dataset_status_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
  /dataset/news.json:
    get:
      summary: Dataset News
      operationId: dataset_news_dataset_news_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
  /dataset/consensus.json:
    get:
      summary: Dataset Consensus
      operationId: dataset_consensus_dataset_consensus_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
  /dataset/versions.json:
    get:
      summary: Dataset Versions
      operationId: dataset_versions_dataset_versions_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
  /dataset/advisories.json:
    get:
      summary: Dataset Advisories
      operationId: dataset_advisories_dataset_advisories_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Dataset
