openapi: 3.2.0
info:
  title: Dynamicfeed Ai Macro API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Macro across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Macro
paths:
  /macro:
    get:
      summary: Global Macro
      description: 'Worldwide macro indicators for any country (World Bank Open Data, CC-BY) — globalizes the China-only

        macro. (Requires API key.)'
      operationId: global_macro_macro_get
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
          description: ISO code (US, GB, DE, IN, BR, JP, CN) or country name
          default: ''
          title: Country
        description: ISO code (US, GB, DE, IN, BR, JP, CN) or country name
      - name: indicator
        in: query
        required: false
        schema:
          type: string
          description: gdp | gdp_growth | cpi_inflation | unemployment | population | exports | imports | current_account | fx_reserves | fdi | govt_debt_pct_gdp | all
          default: all
          title: Indicator
        description: gdp | gdp_growth | cpi_inflation | unemployment | population | exports | imports | current_account | fx_reserves | fdi | govt_debt_pct_gdp | all
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Macro
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
