openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Sec Filings API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Sec Filings
paths:
  /sec-filings:
    get:
      summary: Sec Filings
      description: 'Recent SEC EDGAR filings for a US public company (8-K / 10-K / S-1 / Form 4). US public domain.

        (Requires API key.)'
      operationId: sec_filings_sec_filings_get
      parameters:
      - name: ticker
        in: query
        required: false
        schema:
          type: string
          description: US stock ticker, e.g. AAPL, NVDA, TSLA
          default: ''
          title: Ticker
        description: US stock ticker, e.g. AAPL, NVDA, TSLA
      - name: form
        in: query
        required: false
        schema:
          type: string
          description: 'filter by form: 8-K, 10-K, 10-Q, S-1, 4 ...'
          default: ''
          title: Form
        description: 'filter by form: 8-K, 10-K, 10-Q, S-1, 4 ...'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 40
          minimum: 1
          default: 15
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Sec Filings
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
