openapi: 3.2.0
info:
  title: Dynamicfeed Ai Security API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged security across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Security
paths:
  /package-health:
    get:
      tags:
      - Security
      summary: Package Health Ep
      description: 'Package health & security posture from deps.dev (Google Open Source Insights): latest version,

        license, known-advisory count, the OpenSSF Scorecard (0-10 + weakest checks) and popularity. The

        ''should I depend on this?'' check — pairs with /advisories/check and /versions. (Requires API key.)'
      operationId: package_health_ep_package_health_get
      parameters:
      - name: package
        in: query
        required: true
        schema:
          type: string
          description: package name, e.g. lodash, requests, django
          title: Package
        description: package name, e.g. lodash, requests, django
      - name: ecosystem
        in: query
        required: false
        schema:
          type: string
          description: npm | pypi | go | maven | cargo | nuget | rubygems
          default: npm
          title: Ecosystem
        description: npm | pypi | go | maven | cargo | nuget | rubygems
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: exact version (optional; defaults to latest)
          title: Version
        description: exact version (optional; defaults to latest)
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
