openapi: 3.2.0
info:
  title: Dynamicfeed Ai Sports API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Sports across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Sports
paths:
  /sports:
    get:
      summary: Sports
      description: 'Global ATTENTION + official schedule for a sporting event/team/competition — e.g. the 2026 FIFA

        World Cup. Attention = daily Wikipedia article views by language edition, with 7-day momentum & peak;

        plus hosts, start/end dates and sport from Wikidata. Source: Wikimedia Pageviews + Wikidata (CC0) —

        this is the neutral global-attention layer, NOT live scores, fixtures or odds. (Requires API key.)'
      operationId: sports_sports_get
      parameters:
      - name: topic
        in: query
        required: false
        schema:
          type: string
          description: event/team/competition, e.g. '2026 FIFA World Cup'
          default: 2026 FIFA World Cup
          title: Topic
        description: event/team/competition, e.g. '2026 FIFA World Cup'
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 90
          minimum: 7
          description: attention window in days
          default: 30
          title: Days
        description: attention window in days
      - name: lang
        in: query
        required: false
        schema:
          type: string
          description: primary Wikipedia language edition (en, es, pt, fr, ...)
          default: en
          title: Lang
        description: primary Wikipedia language edition (en, es, pt, fr, ...)
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Sports
    servers:
    - url: https://dynamicfeed.ai
  /worldcup:
    get:
      tags:
      - Sports
      summary: Worldcup Route
      description: '2026 FIFA World Cup fixtures + final results (openfootball, public domain). Keyless — powers the

        homepage World Cup section and any agent. See also the keyless `world_cup` MCP tool.'
      operationId: worldcup_route_worldcup_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
