openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Robot API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Robot
paths:
  /v1/anchor/daily:
    get:
      tags:
      - Robot
      summary: V1 Anchor Daily
      description: 'L2 — the day''s world-state snapshot timestamped via RFC 3161 (one hash per day, free &

        batched via RFC 3161): a durable, tamper-evident record of what Dynamic Feed reported. Anchors

        on first call (idempotent), then returns the proof. ?date=YYYY-MM-DD; keyless.'
      operationId: v1_anchor_daily_v1_anchor_daily_get
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Date
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/awareness:
    post:
      tags:
      - Robot
      summary: V1 Awareness
      description: 'Robot situational-awareness v1: ONE call returns a go / caution / no-go verdict plus the grounded

        facts behind it, for a robot (ground|humanoid|aerial|marine|orbital) at a location. NEVER blocks: the

        feeds fan out under a hard deadline and any laggard is dropped with the snapshot flagged `degraded`

        (fail-safe → the verdict can never be `go` when degraded, it floors to `caution`). Keyless in v1.


        Body: {"robot":{"id","class"},"location":{"lat","lon","alt_m"},"radius_km"?,"domains"?,

        "max_staleness_s"?,"limits"?,"deadline_ms"?,"require_signed"?}. Every response is signed with Ed25519

        (Rung B) · verify against GET /.well-known/keys. Timestamp a snapshot''s hash via POST /v1/anchor (Rung C).'
      operationId: v1_awareness_v1_awareness_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/preflight:
    post:
      tags:
      - Robot
      summary: V1 Preflight
      description: 'Drone PRE-FLIGHT safety check: a preset over /v1/awareness for class=aerial. POST

        {"location":{"lat","lon","alt_m"?},"radius_km"?}. Returns a go / caution / no-go take-off verdict

        fused from wind & weather, air quality, space weather (GPS/comms integrity) and nearby hazards ·

        Ed25519-signed, hard-deadline (never hangs; degraded floors to caution). Keyless.'
      operationId: v1_preflight_v1_preflight_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/road:
    post:
      tags:
      - Robot
      summary: V1 Road
      description: 'Ground / autonomous-vehicle OVER-THE-HORIZON hazard check: a preset over /v1/awareness for

        class=ground. POST {"location":{"lat","lon"},"radius_km"?}. Returns a go / caution / no-go verdict

        fused from weather, air quality and nearby earthquakes/hazards along the route · signed, never hangs.

        Keyless.'
      operationId: v1_road_v1_road_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/humanoid:
    post:
      tags:
      - Robot
      summary: V1 Humanoid
      description: 'Humanoid PRE-OPERATION check: a preset over /v1/awareness for class=humanoid (a bipedal robot

        working AMONG PEOPLE). POST {"location":{"lat","lon"},"radius_km"?}. Returns a go / caution / no-go

        verdict fused from wind (topple risk, high centre of mass), precipitation (slip/footing), temperature

        (ice underfoot + actuator/battery envelope), air quality (tighter, people nearby) and nearby

        earthquakes · Ed25519-signed, hard-deadline (never hangs; degraded floors to caution).

        ADVISORY EVIDENCE ONLY: proof of what was true at a time, NOT a safety certification and NOT a

        guarantee it is safe to act; the robot''s own stack owns every action. Keyless.'
      operationId: v1_humanoid_v1_humanoid_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/marine:
    post:
      tags:
      - Robot
      summary: V1 Marine
      description: 'Marine vessel / USV PRE-OPERATION check: a preset over /v1/awareness for class=marine. POST

        {"location":{"lat","lon"},"radius_km"?}. Returns a go / caution / no-go verdict fused from live

        significant WAVE HEIGHT (the primary driver), wind, a heavy-precipitation storm proxy, geomagnetic

        activity (GPS/comms) and nearby earthquakes (tsunami) · Ed25519-signed, hard-deadline (never hangs;

        degraded floors to caution). Inland points simply omit the sea-state factor. ADVISORY EVIDENCE only:

        not a safety certification and not a claim it is safe to sail; the vessel''s own stack owns every

        action. Keyless.'
      operationId: v1_marine_v1_marine_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/robot-receipt:
    post:
      tags:
      - Robot
      summary: V1 Robot Receipt
      description: 'WITNESS a single robot / embodied-AI DECISION: the neutral ''black box'' receipt of what a robot

        was told and which model/policy decided, at the moment it acted. Ed25519-signed, transparency-logged,

        RFC 3161 timestampable. Privacy by CONSTRUCTION: the caller hashes the decision inputs (sensor/awareness

        context) LOCALLY and sends ONLY a fixed-length sha256 + non-PII labels. Body: {"robot_class":

        "ground|aerial|marine|orbital|humanoid", "model_id": "", "verdict":

        "go|caution|no-go", "inputs_sha256": ""} plus optional decision, awareness_ref (a prior

        /v1/awareness snapshot_id), region (COARSE, no precise coords), latency_ms, and a BYO-key co-signature.

        Auth: a FREE key (POST /signup). ADVISORY EVIDENCE ONLY: proves the decision record existed and is

        intact (tamper-EVIDENT, verifiable via /verify.js); it does NOT certify the action was safe/correct/

        lawful, is NOT a safety system, and is NOT the actuator (the robot''s own certified safety layer decides).

        Profile of receipt/v1. Anchor via POST /v1/anchor.'
      operationId: v1_robot_receipt_v1_robot_receipt_post
      parameters:
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/robot-receipt/sample:
    get:
      tags:
      - Robot
      summary: V1 Robot Receipt Sample
      description: 'A keyless, signed SAMPLE robot-receipt/v1: the ''black box'' record of an embodied-AI decision (an

        aerial robot told CAUTION on degraded GPS, which held). Verify it in-browser via /verify.js, then flip

        a byte and watch verification fail. Advisory evidence only: not a safety system.'
      operationId: v1_robot_receipt_sample_v1_robot_receipt_sample_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/anchor:
    post:
      tags:
      - Robot
      summary: V1 Anchor
      description: 'Timestamp a snapshot''s hash with an independent RFC 3161 authority — returns a signed timestamp

        token proving the record existed at time T, independently verifiable, even against us. Body:

        {"snapshot": {...}} (its canonical SHA-256 is timestamped) or {"digest_hex": ""}.

        Hashes ONLY, never data. Off the verdict hot path (Rung C).'
      operationId: v1_anchor_v1_anchor_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/anchor/upgrade:
    post:
      tags:
      - Robot
      summary: V1 Anchor Upgrade
      description: 'Re-check a stored timestamp proof. RFC 3161 tokens are final at issue (nothing to upgrade); a

        legacy OpenTimestamps proof is folded into its block attestation. Body: {"token_b64": "..."}

        (legacy {"proof_ots_b64": "..."} still accepted).'
      operationId: v1_anchor_upgrade_v1_anchor_upgrade_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
