openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Earthquakes API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Earthquakes
paths:
  /earthquakes:
    get:
      summary: Earthquakes
      description: 'Recent earthquakes worldwide (USGS) — magnitude, depth, location, PAGER impact alert, tsunami

        flag, felt reports and significance. Sorted by impact then magnitude. (Requires API key.)'
      operationId: earthquakes_earthquakes_get
      parameters:
      - name: min_magnitude
        in: query
        required: false
        schema:
          type: number
          minimum: 0
          description: minimum magnitude
          default: 2.5
          title: Min Magnitude
        description: minimum magnitude
      - name: period
        in: query
        required: false
        schema:
          type: string
          description: hour | day | week | month
          default: day
          title: Period
        description: hour | day | week | month
      - name: tsunami_only
        in: query
        required: false
        schema:
          type: boolean
          description: only quakes flagged with tsunami potential
          default: false
          title: Tsunami Only
        description: only quakes flagged with tsunami potential
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          default: 30
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Earthquakes
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
