openapi: 3.2.0
info:
  title: Dynamicfeed Ai Agent Stats API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Agent Stats across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Agent Stats
paths:
  /v1/agent-stats:
    get:
      summary: Agent Stats
      description: 'Public, no-PII view of the agent/machine traffic Dynamic Feed serves: tool calls

        (today / 7d / 30d / all-time) and the distinct agent client types seen (Claude, ChatGPT,

        Cursor, LangChain, MCP clients, ...). Counts only — no IPs, no identities. Powers the public

        ''agents tapping us'' counter on /agents. The response itself is Ed25519-signed.'
      operationId: agent_stats_v1_agent_stats_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Agent Stats
    servers:
    - url: https://dynamicfeed.ai
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
