openapi: 3.2.0
info:
  title: Dynamicfeed Ai Consensus API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Consensus across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Consensus
paths:
  /consensus:
    get:
      summary: Consensus
      description: 'PROPRIETARY: real-time cross-exchange price consensus — the median price across

        several independent venues plus how tightly they agree (spread in basis points), the

        min/max, and the per-venue breakdown. Tells an AI tool the real price AND whether to

        trust it. Measured by Dynamic Feed; available nowhere else. (Requires API key.)'
      operationId: consensus_consensus_get
      parameters:
      - name: symbol
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: exact symbol, e.g. BTC, ETH, SOL
          title: Symbol
        description: exact symbol, e.g. BTC, ETH, SOL
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          default: 50
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Consensus
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
