openapi: 3.2.0
info:
  title: Dynamicfeed Ai Exploited Vulnerabilities API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Exploited Vulnerabilities across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Exploited Vulnerabilities
paths:
  /exploited-vulnerabilities:
    get:
      summary: Exploited Vulnerabilities
      description: 'Vulnerabilities CONFIRMED exploited in the wild (CISA KEV) — each enriched with its EPSS

        exploitation-probability score. The ''which CVEs actually matter right now'' layer. (Requires API key.)'
      operationId: exploited_vulnerabilities_exploited_vulnerabilities_get
      parameters:
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: match CVE id / name / description
          title: Query
        description: match CVE id / name / description
      - name: vendor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter by vendor (e.g. Microsoft, Cisco)
          title: Vendor
        description: filter by vendor (e.g. Microsoft, Cisco)
      - name: product
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter by product (e.g. Windows, PAN-OS)
          title: Product
        description: filter by product (e.g. Windows, PAN-OS)
      - name: ransomware_only
        in: query
        required: false
        schema:
          type: boolean
          description: only CVEs linked to ransomware campaigns
          default: false
          title: Ransomware Only
        description: only CVEs linked to ransomware campaigns
      - name: recent_days
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: only CVEs added to KEV in the last N days
          default: 0
          title: Recent Days
        description: only CVEs added to KEV in the last N days
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          default: 25
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Exploited Vulnerabilities
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
