openapi: 3.2.0
info:
  title: Dynamicfeed Ai Gps Interference API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Gps Interference across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Gps Interference
paths:
  /gps-interference:
    get:
      summary: Gps Interference
      description: 'Probable GPS/GNSS interference (jamming/spoofing) over an area, MEASURED from live ADS-B navigation

        integrity (the GPSJam method) — a Dynamic Feed-derived signal (from adsb.lol, CC0). Pass a region

        preset or lat+lon. (Requires API key.)'
      operationId: gps_interference_gps_interference_get
      parameters:
      - name: region
        in: query
        required: false
        schema:
          type: string
          description: 'preset: london, blacksea, baltic, easternmed, persiangulf, korea, finland, caucasus, northsea'
          default: ''
          title: Region
        description: 'preset: london, blacksea, baltic, easternmed, persiangulf, korea, finland, caucasus, northsea'
      - name: lat
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          description: latitude (use with lon instead of a preset)
          title: Lat
        description: latitude (use with lon instead of a preset)
      - name: lon
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          description: longitude
          title: Lon
        description: longitude
      - name: radius_km
        in: query
        required: false
        schema:
          type: integer
          maximum: 460
          minimum: 20
          description: radius around lat/lon in km
          default: 300
          title: Radius Km
        description: radius around lat/lon in km
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Gps Interference
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
