openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Recalls API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Recalls
paths:
  /recalls:
    get:
      summary: Recalls
      description: 'US product recalls — food, drug & medical-device enforcement reports (openFDA, keyless, CC0).

        ''Is product X recalled right now?'' Class I = most serious; most-recent first. (Requires API key.)'
      operationId: recalls_recalls_get
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
          description: match the product description (brand/product), or blank for latest
          default: ''
          title: Query
        description: match the product description (brand/product), or blank for latest
      - name: category
        in: query
        required: false
        schema:
          type: string
          description: all | food | drug | device
          default: all
          title: Category
        description: all | food | drug | device
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 1
          default: 20
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Recalls
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
