openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Air Quality API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Air Quality
paths:
  /air-quality:
    get:
      summary: Air Quality
      description: Current air quality (PM2.5/PM10, US & European AQI) by city or lat/lon. (Requires API key.)
      operationId: air_quality_air_quality_get
      parameters:
      - name: city
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: city name
          title: City
        description: city name
      - name: lat
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Lat
      - name: lon
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Lon
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Air Quality
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
