openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Satellites API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Satellites
paths:
  /satellites:
    get:
      summary: Satellites
      description: 'Satellite/constellation catalog (Starlink, GPS, stations…) with altitude, orbital period, and

        a derived light-speed round-trip latency to ground — the physics floor for orbital networks. (Requires API key.)'
      operationId: satellites_satellites_get
      parameters:
      - name: group
        in: query
        required: false
        schema:
          type: string
          description: starlink, stations, gps-ops, oneweb, galileo, weather, active, geo
          default: starlink
          title: Group
        description: starlink, stations, gps-ops, oneweb, galileo, weather, active, geo
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          default: 25
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Satellites
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
