openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Convert API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Convert
paths:
  /convert:
    get:
      summary: Convert Ep
      description: 'Convert money between fiat currencies at the LIVE ECB reference rate. Crypto & precious-metal

        conversion is coming in a future release. (Requires API key; keyless over MCP.)'
      operationId: convert_ep_convert_get
      parameters:
      - name: amount
        in: query
        required: false
        schema:
          type: number
          description: amount to convert
          default: 1
          title: Amount
        description: amount to convert
      - name: from_currency
        in: query
        required: false
        schema:
          type: string
          description: e.g. EUR, GBP, JPY
          default: USD
          title: From Currency
        description: e.g. EUR, GBP, JPY
      - name: to_currency
        in: query
        required: false
        schema:
          type: string
          description: e.g. USD, AUD, CHF
          default: USD
          title: To Currency
        description: e.g. USD, AUD, CHF
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Convert
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
