openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Billing API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Billing
paths:
  /billing/checkout:
    post:
      summary: Checkout
      description: Start a Stripe Checkout for a paid plan. Returns a payment URL.
      operationId: checkout_billing_checkout_post
      parameters:
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          description: the key you want to upgrade
          title: Api Key
        description: the key you want to upgrade
      - name: tier
        in: query
        required: false
        schema:
          type: string
          description: pro ($19/mo), ultra ($59/mo), mega ($199/mo) or notary ($49/mo)
          default: pro
          title: Tier
        description: pro ($19/mo), ultra ($59/mo), mega ($199/mo) or notary ($49/mo)
      - name: interval
        in: query
        required: false
        schema:
          type: string
          description: '''month'' (default) or ''annual'' — annual prepay is 2 months free ($190/$590/$1,990/$490 per year)'
          default: month
          title: Interval
        description: '''month'' (default) or ''annual'' — annual prepay is 2 months free ($190/$590/$1,990/$490 per year)'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Billing
  /billing/success:
    get:
      summary: Billing Success
      operationId: billing_success_billing_success_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Billing
  /billing/webhook:
    post:
      summary: Billing Webhook
      description: Stripe calls this to confirm payments. Upgrades/downgrades the key.
      operationId: billing_webhook_billing_webhook_post
      parameters:
      - name: stripe-signature
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Stripe-Signature
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Billing
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
