openapi: 3.2.0
info:
  title: Dynamicfeed Ai verified facts API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged verified facts across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: verified facts
paths:
  /v1/state-of-mcp:
    get:
      tags:
      - verified facts
      summary: V1 State Of Mcp
      description: 'STATE OF MCP — a signed census of the Model Context Protocol ecosystem, measured from the

        official registry: how many servers exist, how many are remote, and how many are keyless. One

        Ed25519-signed envelope you can verify against /.well-known/keys; a primary-source figure, not

        a claim. Served from the latest daily snapshot (the crawl runs off the request path). Keyless.'
      operationId: v1_state_of_mcp_v1_state_of_mcp_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
    servers:
    - url: https://dynamicfeed.ai
  /v1/state-of-mcp/trend:
    get:
      tags:
      - verified facts
      summary: V1 State Of Mcp Trend
      description: 'Growth over time: the headline State of MCP numbers, one point per daily snapshot, oldest

        first. The trend IS the value (server count, remote share, keyless share drifting over time).'
      operationId: v1_state_of_mcp_trend_v1_state_of_mcp_trend_get
      parameters:
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 1825
          minimum: 1
          default: 365
          title: Days
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://dynamicfeed.ai
  /v1/facts:
    get:
      tags:
      - verified facts
      summary: V1 Facts
      description: 'Verified-fact layer: any tool, returned in ONE canonical fact shape with an HONEST

        verification block. Cardinal rule: signed != verified. An Ed25519 signature proves Dynamic Feed

        reported this exact value at this time, unaltered (integrity); ''verified'' is reserved for facts

        independently corroborated by 2+ sources AND still fresh. confidence is a transparent composite

        of the exposed signals, never decorative; a single-source reading is honestly verified:false.

        Keyless, read-only. GET /v1/facts?tool=current_weather&city=Sydney , or

        POST {"calls":[{"tool":...,"args":{...}}]}. The whole envelope is Ed25519-signed.'
      operationId: v1_facts_v1_facts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
    post:
      tags:
      - verified facts
      summary: V1 Facts
      description: 'Verified-fact layer: any tool, returned in ONE canonical fact shape with an HONEST

        verification block. Cardinal rule: signed != verified. An Ed25519 signature proves Dynamic Feed

        reported this exact value at this time, unaltered (integrity); ''verified'' is reserved for facts

        independently corroborated by 2+ sources AND still fresh. confidence is a transparent composite

        of the exposed signals, never decorative; a single-source reading is honestly verified:false.

        Keyless, read-only. GET /v1/facts?tool=current_weather&city=Sydney , or

        POST {"calls":[{"tool":...,"args":{...}}]}. The whole envelope is Ed25519-signed.'
      operationId: postV1Facts
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      x-operation-id-source: normalized
      x-operation-id-original: v1_facts_v1_facts_get
    servers:
    - url: https://dynamicfeed.ai
  /v1/answer:
    get:
      tags:
      - verified facts
      summary: V1 Answer
      description: 'ANSWERS WITH RECEIPTS (answer/v1) — submit factual premises (structured checks) or a

        question, get ONE Ed25519-signed answer object carrying the complete evidence chain: the exact

        calls made, the exact source readings (fact/v1), per-premise verdicts computed by the published

        deterministic rule answer-eval/1, and a confidence whose formula ships inside the payload

        (answer-conf/1) so anyone can recompute it. No model in the loop: unroutable input gets a

        SIGNED refusal that states exactly what IS covered. Signed proves integrity, not truth;

        everything is advisory evidence. Keyless; GET returns usage + coverage.'
      operationId: v1_answer_v1_answer_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
    post:
      tags:
      - verified facts
      summary: V1 Answer
      description: 'ANSWERS WITH RECEIPTS (answer/v1) — submit factual premises (structured checks) or a

        question, get ONE Ed25519-signed answer object carrying the complete evidence chain: the exact

        calls made, the exact source readings (fact/v1), per-premise verdicts computed by the published

        deterministic rule answer-eval/1, and a confidence whose formula ships inside the payload

        (answer-conf/1) so anyone can recompute it. No model in the loop: unroutable input gets a

        SIGNED refusal that states exactly what IS covered. Signed proves integrity, not truth;

        everything is advisory evidence. Keyless; GET returns usage + coverage.'
      operationId: postV1Answer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      x-operation-id-source: normalized
      x-operation-id-original: v1_answer_v1_answer_get
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
