openapi: 3.2.0
info:
  title: Dynamicfeed Ai Shipping API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Shipping across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Shipping
paths:
  /shipping:
    get:
      summary: Shipping Ep
      description: 'Global shipping & maritime: daily ship transits through the world''s 28 chokepoints (Suez, Panama,

        Hormuz, Malacca, Taiwan...) via IMF PortWatch, the ~2,065-port global registry, and LIVE Baltic vessel

        positions (AIS, Digitraffic) enriched with ship name/type/destination. (Requires API key.)'
      operationId: shipping_ep_shipping_get
      parameters:
      - name: scope
        in: query
        required: false
        schema:
          type: string
          description: chokepoints | ports | vessels
          default: chokepoints
          title: Scope
        description: chokepoints | ports | vessels
      - name: query
        in: query
        required: false
        schema:
          type: string
          description: filter by name/country (chokepoints, ports) or ship name/destination (vessels)
          default: ''
          title: Query
        description: filter by name/country (chokepoints, ports) or ship name/destination (vessels)
      - name: region
        in: query
        required: false
        schema:
          type: string
          description: 'Baltic preset for scope=vessels: baltic, helsinki, stockholm, kiel, gdansk, copenhagen, riga, gulf-of-finland'
          default: baltic
          title: Region
        description: 'Baltic preset for scope=vessels: baltic, helsinki, stockholm, kiel, gdansk, copenhagen, riga, gulf-of-finland'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          default: 30
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Shipping
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
