openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Tides API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Tides
paths:
  /tides:
    get:
      summary: Tides Ep
      description: 'Current water level + next high/low tides for a US coastal station (NOAA CO-OPS, public domain).

        SCOPE: US stations only. Not for navigation — confirm against official NOAA tide tables. (Requires API key.)'
      operationId: tides_ep_tides_get
      parameters:
      - name: station
        in: query
        required: false
        schema:
          type: string
          description: NOAA station id, e.g. 9414290
          default: ''
          title: Station
        description: NOAA station id, e.g. 9414290
      - name: location
        in: query
        required: false
        schema:
          type: string
          description: 'or a preset: san francisco, new york, boston, seattle, honolulu, …'
          default: ''
          title: Location
        description: 'or a preset: san francisco, new york, boston, seattle, honolulu, …'
      - name: units
        in: query
        required: false
        schema:
          type: string
          description: english (feet) | metric
          default: english
          title: Units
        description: english (feet) | metric
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 20
          default: 6
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tides
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
