openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Flights API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Flights
paths:
  /flights:
    get:
      summary: Flights
      description: 'Live aircraft right now — real-time positions from adsb.lol community ADS-B (CC0).

        Filter by region preset and/or callsign. Airborne flights first. (Requires API key.)'
      operationId: flights_flights_get
      parameters:
      - name: region
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'region preset: morocco, spain, london, newyork, paris, tokyo, dubai, europe, usa, asia, ...'
          title: Region
        description: 'region preset: morocco, spain, london, newyork, paris, tokyo, dubai, europe, usa, asia, ...'
      - name: callsign
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter by flight callsign, e.g. BAW123
          title: Callsign
        description: filter by flight callsign, e.g. BAW123
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          default: 50
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Flights
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
