openapi: 3.2.0
info:
  title: Dynamicfeed Ai Satellite API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Satellite across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Satellite
paths:
  /satellite:
    get:
      summary: Satellite
      description: 'Real-time position of ANY satellite by NORAD id — true SGP4 propagation of the latest live

        CelesTrak TLE to the current instant: exact lat/lon, altitude, velocity, ground-footprint radius,

        the speed-of-light latency floor, and the TLE''s age. Optionally a forward ground-track. (Requires API key.)'
      operationId: satellite_satellite_get
      parameters:
      - name: norad_id
        in: query
        required: true
        schema:
          type: integer
          description: NORAD catalog number, e.g. 25544 (ISS), 20580 (Hubble), 44714 (a Starlink)
          title: Norad Id
        description: NORAD catalog number, e.g. 25544 (ISS), 20580 (Hubble), 44714 (a Starlink)
      - name: track_minutes
        in: query
        required: false
        schema:
          type: integer
          maximum: 360
          minimum: 0
          description: also return a predicted ground-track this many minutes ahead (0 = none)
          default: 0
          title: Track Minutes
        description: also return a predicted ground-track this many minutes ahead (0 = none)
      - name: step_seconds
        in: query
        required: false
        schema:
          type: integer
          maximum: 600
          minimum: 10
          description: ground-track sampling step in seconds
          default: 60
          title: Step Seconds
        description: ground-track sampling step in seconds
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Satellite
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
