openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Signals API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Signals
paths:
  /signals:
    get:
      summary: Signals
      description: 'DERIVED proprietary signals computed from Dynamic Feed''s recorded history — realized

        volatility, price range, and how the cross-exchange spread is trending (widening/narrowing).

        Branded numbers only we have; richer as history accumulates. (Requires API key.)'
      operationId: signals_signals_get
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
          description: instrument symbol, e.g. BTC, ETH, XAU, EURUSD
          title: Symbol
        description: instrument symbol, e.g. BTC, ETH, XAU, EURUSD
      - name: hours
        in: query
        required: false
        schema:
          type: integer
          maximum: 720
          minimum: 1
          description: window
          default: 24
          title: Hours
        description: window
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Signals
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
