openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Airport Delays API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Airport Delays
paths:
  /airport-delays:
    get:
      summary: Airport Delays
      description: 'Live FAA airport delays, ground stops, closures & ground-delay programs (US National Airspace

        System — keyless source). Empty/short list = airspace running normally. (Requires API key.)'
      operationId: airport_delays_airport_delays_get
      parameters:
      - name: airport
        in: query
        required: false
        schema:
          type: string
          description: 3-letter airport code, e.g. LGA, LAX (optional)
          default: ''
          title: Airport
        description: 3-letter airport code, e.g. LGA, LAX (optional)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          default: 60
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Airport Delays
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
