openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Ai Models API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Ai Models
paths:
  /ai-models:
    get:
      summary: Ai Models Ep
      description: 'Current & trending AI models from the open-model ecosystem (Hugging Face) — name, org, task,

        popularity, release date. Complements /models (closed-flagship pricing & versions). (Requires API key.)'
      operationId: ai_models_ep_ai_models_get
      parameters:
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: search a model name (e.g. llama, qwen, whisper)
          title: Query
        description: search a model name (e.g. llama, qwen, whisper)
      - name: org
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter by org/author (e.g. meta-llama, deepseek-ai)
          title: Org
        description: filter by org/author (e.g. meta-llama, deepseek-ai)
      - name: task
        in: query
        required: false
        schema:
          type: string
          description: text-generation (default), text-to-image, ... or 'any'
          default: text-generation
          title: Task
        description: text-generation (default), text-to-image, ... or 'any'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          description: trending | newest | downloads
          default: trending
          title: Sort
        description: trending | newest | downloads
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          default: 25
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Ai Models
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
