openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Weather Alerts API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Weather Alerts
paths:
  /weather-alerts:
    get:
      summary: Weather Alerts
      description: Active US NWS weather alerts/warnings — life-safety watches/warnings/advisories. (Requires API key.)
      operationId: weather_alerts_weather_alerts_get
      parameters:
      - name: area
        in: query
        required: false
        schema:
          type: string
          description: 2-letter US state (CA, TX...) or marine zone; blank = nationwide Severe/Extreme
          default: ''
          title: Area
        description: 2-letter US state (CA, TX...) or marine zone; blank = nationwide Severe/Extreme
      - name: event
        in: query
        required: false
        schema:
          type: string
          description: filter by event type, e.g. Flood, Tornado, Heat
          default: ''
          title: Event
        description: filter by event type, e.g. Flood, Tornado, Heat
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 1
          default: 20
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Weather Alerts
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
