openapi: 3.2.0
info:
  title: Dynamicfeed Ai Air Quality API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Air Quality across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Air Quality
paths:
  /air-quality:
    get:
      summary: Air Quality
      description: Current air quality (PM2.5/PM10, US & European AQI) by city or lat/lon. (Requires API key.)
      operationId: air_quality_air_quality_get
      parameters:
      - name: city
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: city name
          title: City
        description: city name
      - name: lat
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Lat
      - name: lon
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Lon
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Air Quality
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
