openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Exploited Vulnerabilities…
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Exploited Vulnerabilities
paths:
  /exploited-vulnerabilities:
    get:
      summary: Exploited Vulnerabilities
      description: 'Vulnerabilities CONFIRMED exploited in the wild (CISA KEV) — each enriched with its EPSS

        exploitation-probability score. The ''which CVEs actually matter right now'' layer. (Requires API key.)'
      operationId: exploited_vulnerabilities_exploited_vulnerabilities_get
      parameters:
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: match CVE id / name / description
          title: Query
        description: match CVE id / name / description
      - name: vendor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter by vendor (e.g. Microsoft, Cisco)
          title: Vendor
        description: filter by vendor (e.g. Microsoft, Cisco)
      - name: product
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter by product (e.g. Windows, PAN-OS)
          title: Product
        description: filter by product (e.g. Windows, PAN-OS)
      - name: ransomware_only
        in: query
        required: false
        schema:
          type: boolean
          description: only CVEs linked to ransomware campaigns
          default: false
          title: Ransomware Only
        description: only CVEs linked to ransomware campaigns
      - name: recent_days
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: only CVEs added to KEV in the last N days
          default: 0
          title: Recent Days
        description: only CVEs added to KEV in the last N days
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          default: 25
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Exploited Vulnerabilities
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
