openapi: 3.2.0
info:
  title: Dynamicfeed Ai Ai Models API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Ai Models across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: Ai Models
paths:
  /ai-models:
    get:
      summary: Ai Models Ep
      description: 'Current & trending AI models from the open-model ecosystem (Hugging Face) — name, org, task,

        popularity, release date. Complements /models (closed-flagship pricing & versions). (Requires API key.)'
      operationId: ai_models_ep_ai_models_get
      parameters:
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: search a model name (e.g. llama, qwen, whisper)
          title: Query
        description: search a model name (e.g. llama, qwen, whisper)
      - name: org
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter by org/author (e.g. meta-llama, deepseek-ai)
          title: Org
        description: filter by org/author (e.g. meta-llama, deepseek-ai)
      - name: task
        in: query
        required: false
        schema:
          type: string
          description: text-generation (default), text-to-image, ... or 'any'
          default: text-generation
          title: Task
        description: text-generation (default), text-to-image, ... or 'any'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          description: trending | newest | downloads
          default: trending
          title: Sort
        description: trending | newest | downloads
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          default: 25
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Ai Models
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
