openapi: 3.2.0
info:
  title: Dynamicfeed Ai History API
  version: 1.0.0
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  x-refined-note:
  - x-generated differs across the merged source definitions and was not carried
  - x-method differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged History across 2 of this provider''s published API definitions: dynamicfeed-ai-openapi.json, dynamicfeed-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dynamicfeed.ai
tags:
- name: History
paths:
  /v1/history:
    get:
      summary: History
      description: 'Archive coverage — what Dynamic Feed''s permanent, append-only archive holds.


        • No `tool` → the set of tools captured + a count.

        • `tool=` → that tool''s captured date partitions, earliest/latest, and day count.


        This is the availability index over the un-backfillable history (the permanence moat): it tells an

        agent which days are on record for a tool. Row-level point-in-time values ("what was the value at

        time T") are a premium query that layers on the same Hive-partitioned archive.'
      operationId: history_v1_history_get
      parameters:
      - name: tool
        in: query
        required: false
        schema:
          type: string
          title: Tool
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - History
    servers:
    - url: https://dynamicfeed.ai
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- dynamicfeed-ai-openapi.json
- dynamicfeed-ai-openapi.yml
