openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Internet Outages API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Internet Outages
paths:
  /internet-outages:
    get:
      summary: Internet Outages
      description: 'Live BGP routing health for a network resource from RIPEstat (RIPE NCC). Global visibility +

        outage signal (healthy/degraded/outage) — a sharp visibility drop = the network is losing global

        reachability. The clean, redistributable RIPEstat replacement for CAIDA. (Requires API key.)'
      operationId: internet_outages_internet_outages_get
      parameters:
      - name: resource
        in: query
        required: false
        schema:
          type: string
          description: an ASN (AS3215), an IP (8.8.8.8), or a prefix (193.0.0.0/22)
          default: ''
          title: Resource
        description: an ASN (AS3215), an IP (8.8.8.8), or a prefix (193.0.0.0/22)
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Internet Outages
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
