openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Wildfires API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Wildfires
paths:
  /wildfires:
    get:
      summary: Wildfires
      description: 'Active US wildfires (NIFC WFIGS) — incident name, size in acres, % contained, cause, state and

        location. The ''how big / how contained'' detail hotspot feeds can''t give. Largest first. (Requires API key.)'
      operationId: wildfires_wildfires_get
      parameters:
      - name: state
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: filter to a US state, e.g. CA, TX (2-letter)
          title: State
        description: filter to a US state, e.g. CA, TX (2-letter)
      - name: only_uncontained
        in: query
        required: false
        schema:
          type: boolean
          description: only fires below 100% containment
          default: false
          title: Only Uncontained
        description: only fires below 100% containment
      - name: min_acres
        in: query
        required: false
        schema:
          type: number
          minimum: 0
          description: minimum incident size in acres
          default: 0
          title: Min Acres
        description: minimum incident size in acres
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          default: 25
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Wildfires
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
