openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Water Levels API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Water Levels
paths:
  /water-levels:
    get:
      summary: Water Levels
      description: 'Real-time US river levels — gage height + streamflow from USGS (a keyless public-domain source):

        by state, USGS site number(s), or a curated set of major rivers. Rising gage = flood risk; unusually

        low flow = drought. Each reading carries its USGS observation time. (Requires API key.)'
      operationId: water_levels_water_levels_get
      parameters:
      - name: state
        in: query
        required: false
        schema:
          type: string
          description: 2-letter US state code, e.g. TX, CA (optional)
          default: ''
          title: State
        description: 2-letter US state code, e.g. TX, CA (optional)
      - name: site
        in: query
        required: false
        schema:
          type: string
          description: USGS site number(s), comma-separated (optional)
          default: ''
          title: Site
        description: USGS site number(s), comma-separated (optional)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          default: 20
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Water Levels
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
