openapi: 3.2.0
info:
  title: Dynamic Feed — Live Data for AI Volcanoes API
  description: Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
servers:
- url: https://dynamicfeed.ai
tags:
- name: Volcanoes
paths:
  /volcanoes:
    get:
      summary: Volcanoes Ep
      description: 'Current US volcano alert levels (USGS Volcano Hazards Program, public domain). ''elevated'' = only

        volcanoes at YELLOW/ORANGE/RED or ADVISORY/WATCH/WARNING; ''all'' = every USGS-monitored volcano. Each

        carries the ground alert level, aviation colour code and the official notice URL. SCOPE: US volcanoes

        only — the global Smithsonian GVP dataset is licensed non-commercial. (Requires API key.)'
      operationId: volcanoes_ep_volcanoes_get
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          description: '''elevated'' (default — only active alerts) or ''all'''
          default: elevated
          title: Status
        description: '''elevated'' (default — only active alerts) or ''all'''
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          default: 50
          title: Limit
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-rapidapi-proxy-secret
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-Proxy-Secret
      - name: x-rapidapi-user
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Rapidapi-User
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Volcanoes
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
