# x-archived-from: dynamicfeed-ai-agent-public-openapi.yml
# x-archived-on: 2026-09-26
openapi: 3.1.0
info:
  title: Dynamic Feed — Public Agent Batch
  description: Keyless, read-only batch access to the public Dynamic Feed tool registry. Maximum 20 tool calls per request; public fair-use terms apply.
  contact:
    name: Dynamic Feed
    url: https://dynamicfeed.ai/
  version: 1.0.0
  x-generated: '2026-09-19'
  x-method: searched
  x-source: https://dynamicfeed.ai/openapi-agent-public.json
  x-original: openapi/_original/dynamicfeed-ai-agent-public-openapi.json
servers:
- url: https://dynamicfeed.ai
paths:
  /v1/batch:
    post:
      tags:
      - agent
      summary: V1 Batch
      description: 'Run up to 20 read-only data-tool calls in ONE request — cuts agent round-trips. Keyless.

        Body: {"calls":[{"tool":"current_weather","args":{"city":"London"}}, {"tool":"earthquakes","args":{}}]}.

        Returns {"results":[{"tool","ok","data"|"error"}, ...]} in the same order. Tool names are the keyless

        MCP tools; POST with no `calls` returns the available list. Each call has its own 20s deadline, so a

        slow upstream degrades that one item rather than blocking the batch.


        Add "facts": true to the body to get each result as a canonical, reliability-graded fact instead of

        raw data: {"tool","ok","fact":{value, provenance, verification, reliability{confidence,basis,sources,

        verified,vantage,conflict}}}. The whole response is Ed25519-signed (verify against /.well-known/keys),

        so this is verifiable, reliability-graded, multi-tool data in one round-trip. Default shape is unchanged.'
      operationId: v1_batch_v1_batch_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security: []
      x-openai-isConsequential: false
components:
  schemas:
    Body_signup_signup_post:
      properties:
        email:
          anyOf:
          - type: string
          - type: 'null'
          title: Email
          description: optional, for receipts
      type: object
      title: Body_signup_signup_post
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
served_by:
  provider: Dynamic Feed
  url: https://dynamicfeed.ai
  verify: https://dynamicfeed.ai/.well-known/keys
  verify_scope: cryptographic-key-bytes-only
  key_lifecycle: https://dynamicfeed.ai/.well-known/signing-key-registry.json
  facts: https://dynamicfeed.ai/v1/facts
  mcp: https://dynamicfeed.ai/mcp
  docs: https://dynamicfeed.ai/llms.txt
signature:
  alg: Ed25519
  key_id: df-ed25519-6ca0de29113b
  canonicalization: json-sorted-compact
  sig: ap9M5eqqEh-FWxZaXyih4Wk0_x9qfulR_9CJ0Oakb4NR9nH-e1nz_tEItfcD0rIOKUtF0QDhUEegMIvp52w-Bw==
