{"openapi":"3.1.0","info":{"title":"Dynamic Feed — Live Data for AI","description":"Fresh, current data that AI models lack — 20 live domains, 94 read-only tools, over one REST API or a keyless MCP endpoint. Drawn from the world's authoritative public instruments (NASA, NOAA, USGS, CISA, FAA, US Treasury/OFAC, FDA, the World Bank, CelesTrak) plus measurements we make ourselves: multi-model weather + air quality, space weather & live satellite positioning, natural hazards (quakes, wildfires, drought, global disasters), security advisories + actively-exploited CVEs, software versions & EOL, sanctions & regulatory filings, shipping & maritime chokepoints, China markets & macro, measured AI-provider latency, the open-model ecosystem, and a ground-truth layer (reality_check, detect_drift, whats_changed_since_your_training, current_time). PLUS a robot/agent situational-awareness API (POST /v1/awareness) returning Ed25519-signed advisory go/caution/no-go verdicts. Clients may separately request an RFC 3161 timestamp artifact via POST /v1/anchor; artifact issuance does not by itself establish full independent validation. The power is cross-domain: ask what no single source can answer. Every datapoint carries a provenance + freshness envelope — its source, license, timestamp and age — so you can cite it and verify usage rights yourself. Free API key at POST /signup; MCP is keyless.","contact":{"name":"Dynamic Feed","url":"https://dynamicfeed.ai/"},"version":"1.0.0"},"servers":[{"url":"https://dynamicfeed.ai"}],"paths":{"/v1/openweather/current":{"get":{"tags":["weather"],"summary":"V1 Openweather Current","description":"LEGACY ALIAS — provider is Open-Meteo. Returns the canonical current_weather envelope\n(app/open_meteo.py: CC-BY 4.0, attribution, freshness, cross-source concordance) plus a\nprovider-identity notice. Prefer the current_weather tool via POST /v1/batch or MCP.","operationId":"v1_openweather_current_v1_openweather_current_get","parameters":[{"name":"city","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":80},{"type":"null"}],"title":"City"}},{"name":"lat","in":"query","required":false,"schema":{"anyOf":[{"type":"number","maximum":90,"minimum":-90},{"type":"null"}],"title":"Lat"}},{"name":"lon","in":"query","required":false,"schema":{"anyOf":[{"type":"number","maximum":180,"minimum":-180},{"type":"null"}],"title":"Lon"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/openweather/forecast":{"get":{"tags":["weather"],"summary":"V1 Openweather Forecast","description":"LEGACY ALIAS — provider is Open-Meteo. Returns the canonical multi-model forecast envelope\n(app/open_meteo.py) plus a provider-identity notice. Prefer weather_forecast via POST /v1/batch\nor MCP.","operationId":"v1_openweather_forecast_v1_openweather_forecast_get","parameters":[{"name":"city","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":80},{"type":"null"}],"title":"City"}},{"name":"lat","in":"query","required":false,"schema":{"anyOf":[{"type":"number","maximum":90,"minimum":-90},{"type":"null"}],"title":"Lat"}},{"name":"lon","in":"query","required":false,"schema":{"anyOf":[{"type":"number","maximum":180,"minimum":-180},{"type":"null"}],"title":"Lon"}},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":16,"minimum":1,"default":5,"title":"Days"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/state-of-mcp":{"get":{"tags":["verified facts"],"summary":"V1 State Of Mcp","description":"STATE OF MCP — a signed census of the Model Context Protocol ecosystem, measured from the\nofficial registry: how many servers exist, how many are remote, and how many are keyless. One\nEd25519-signed envelope you can verify against /.well-known/keys; a primary-source figure, not\na claim. Served from the latest daily snapshot (the crawl runs off the request path). Keyless.","operationId":"v1_state_of_mcp_v1_state_of_mcp_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/state-of-mcp/trend":{"get":{"tags":["verified facts"],"summary":"V1 State Of Mcp Trend","description":"Growth over time: the headline State of MCP numbers, one point per daily snapshot, oldest\nfirst. The trend IS the value (server count, remote share, keyless share drifting over time).","operationId":"v1_state_of_mcp_trend_v1_state_of_mcp_trend_get","parameters":[{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":1825,"minimum":1,"default":365,"title":"Days"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/discover":{"get":{"tags":["agent"],"summary":"V1 Discover Get","description":"CAPABILITY DISCOVERY — ask in plain words what you need (\"live rainfall in Brisbane\",\n\"sanctions screening\", \"satellite positions\") and get a ranked, Ed25519-signed list of\ncandidate capabilities: Dynamic Feed's own tools with MEASURED 24h uptime/latency and a\nkeyless call recipe, plus matching external MCP servers from the official registry index,\nhonestly marked registry-reported and unmeasured. Advisory discovery with an explicit\nvantage per candidate, not an endorsement. Keyless.","operationId":"v1_discover_get_v1_discover_get","parameters":[{"name":"need","in":"query","required":false,"schema":{"type":"string","maxLength":300,"default":"","title":"Need"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":20,"minimum":1,"default":8,"title":"Limit"}},{"name":"external","in":"query","required":false,"schema":{"type":"integer","default":1,"title":"External"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["agent"],"summary":"V1 Discover Post","description":"POST twin of GET /v1/discover: {\"need\": \"...\", \"limit\": 8, \"external\": true}.","operationId":"v1_discover_post_v1_discover_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/schemas/index.json":{"get":{"tags":["agent"],"summary":"Schemas Index","description":"The Dynamic Feed receipt-schema family, self-describing (DF-VERIFY/1). Scans the schema\ndirectory at request time so it never drifts: every profile's $id, title and active mint\nendpoint when one exists. Deprecated/quarantined schemas remain visible as history, not as\nexecutable capabilities. Schema conformance and signature mathematics are separate from\nlifecycle acceptance.","operationId":"schemas_index_schemas_index_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/facts":{"get":{"tags":["verified facts"],"summary":"V1 Facts","description":"Verified-fact layer: any tool, returned in ONE canonical fact shape with an HONEST\nverification block. Cardinal rule: signed != verified. An Ed25519 signature proves Dynamic Feed\nreported this exact value at this time, unaltered (integrity); 'verified' is reserved for facts\nindependently corroborated by 2+ sources AND still fresh. confidence is a transparent composite\nof the exposed signals, never decorative; a single-source reading is honestly verified:false.\nKeyless, read-only. GET /v1/facts?tool=current_weather&city=Sydney , or\nPOST {\"calls\":[{\"tool\":...,\"args\":{...}}]}. The whole envelope is Ed25519-signed.","operationId":"v1_facts_v1_facts_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"post":{"tags":["verified facts"],"summary":"V1 Facts","description":"Verified-fact layer: any tool, returned in ONE canonical fact shape with an HONEST\nverification block. Cardinal rule: signed != verified. An Ed25519 signature proves Dynamic Feed\nreported this exact value at this time, unaltered (integrity); 'verified' is reserved for facts\nindependently corroborated by 2+ sources AND still fresh. confidence is a transparent composite\nof the exposed signals, never decorative; a single-source reading is honestly verified:false.\nKeyless, read-only. GET /v1/facts?tool=current_weather&city=Sydney , or\nPOST {\"calls\":[{\"tool\":...,\"args\":{...}}]}. The whole envelope is Ed25519-signed.","operationId":"v1_facts_v1_facts_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/answer":{"get":{"tags":["verified facts"],"summary":"V1 Answer","description":"ANSWERS WITH RECEIPTS (answer/v1) — submit factual premises (structured checks) or a\nquestion, get ONE Ed25519-signed answer object carrying the complete evidence chain: the exact\ncalls made, the exact source readings (fact/v1), per-premise verdicts computed by the published\ndeterministic rule answer-eval/1, and a confidence whose formula ships inside the payload\n(answer-conf/1) so anyone can recompute it. No model in the loop: unroutable input gets a\nSIGNED refusal that states exactly what IS covered. Signed proves integrity, not truth;\neverything is advisory evidence. Keyless; GET returns usage + coverage.","operationId":"v1_answer_v1_answer_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"post":{"tags":["verified facts"],"summary":"V1 Answer","description":"ANSWERS WITH RECEIPTS (answer/v1) — submit factual premises (structured checks) or a\nquestion, get ONE Ed25519-signed answer object carrying the complete evidence chain: the exact\ncalls made, the exact source readings (fact/v1), per-premise verdicts computed by the published\ndeterministic rule answer-eval/1, and a confidence whose formula ships inside the payload\n(answer-conf/1) so anyone can recompute it. No model in the loop: unroutable input gets a\nSIGNED refusal that states exactly what IS covered. Signed proves integrity, not truth;\neverything is advisory evidence. Keyless; GET returns usage + coverage.","operationId":"v1_answer_v1_answer_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/bundles":{"get":{"tags":["agent"],"summary":"V1 Bundles","description":"Curated tool BUNDLES per domain — pick the right tools for your agent's use-case fast (instead of\nsifting all tools). Keyless: call any tool via POST /v1/batch; pay-per-call via /v1/pro/*.","operationId":"v1_bundles_v1_bundles_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/bundles/{bundle_id}":{"get":{"tags":["agent"],"summary":"V1 Bundle","description":"One curated tool bundle by id (e.g. devsecops, weather-climate, finance-markets).","operationId":"v1_bundle_v1_bundles__bundle_id__get","parameters":[{"name":"bundle_id","in":"path","required":true,"schema":{"type":"string","title":"Bundle Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/":{"get":{"summary":"Home","description":"Serve the marketing landing page (with live demo widget).","operationId":"home__get","responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}}}}},"/info":{"get":{"summary":"Info","operationId":"info_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/health":{"get":{"summary":"Health","operationId":"health_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/history":{"get":{"summary":"History","description":"Archive coverage — what Dynamic Feed's permanent, append-only archive holds.\n\n• No `tool` → the set of tools captured + a count.\n• `tool=<name>` → that tool's captured date partitions, earliest/latest, and day count.\n\nThis is the availability index over the un-backfillable history (the permanence moat): it tells an\nagent which days are on record for a tool. Row-level point-in-time values (\"what was the value at\ntime T\") are a premium query that layers on the same Hive-partitioned archive.","operationId":"history_v1_history_get","parameters":[{"name":"tool","in":"query","required":false,"schema":{"type":"string","title":"Tool"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/agent-stats":{"get":{"summary":"Agent Stats","description":"Public, no-PII view of the agent/machine traffic Dynamic Feed serves: tool calls\n(today / 7d / 30d / all-time) and the distinct agent client types seen (Claude, ChatGPT,\nCursor, LangChain, MCP clients, ...). Counts only — no IPs, no identities. Powers the public\n'agents tapping us' counter on /agents. The response itself is Ed25519-signed.","operationId":"agent_stats_v1_agent_stats_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/worldcup":{"get":{"tags":["sports"],"summary":"Worldcup Route","description":"2026 FIFA World Cup fixtures + final results (openfootball, public domain). Keyless — powers the\nhomepage World Cup section and any agent. See also the keyless `world_cup` MCP tool.","operationId":"worldcup_route_worldcup_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/batch":{"post":{"tags":["agent"],"summary":"V1 Batch","description":"Run up to 20 read-only data-tool calls in ONE request — cuts agent round-trips. Keyless.\nBody: {\"calls\":[{\"tool\":\"current_weather\",\"args\":{\"city\":\"London\"}}, {\"tool\":\"earthquakes\",\"args\":{}}]}.\nReturns {\"results\":[{\"tool\",\"ok\",\"data\"|\"error\"}, ...]} in the same order. Tool names are the keyless\nMCP tools; POST with no `calls` returns the available list. Each call has its own 20s deadline, so a\nslow upstream degrades that one item rather than blocking the batch.\n\nAdd \"facts\": true to the body to get each result as a canonical, reliability-graded fact instead of\nraw data: {\"tool\",\"ok\",\"fact\":{value, provenance, verification, reliability{confidence,basis,sources,\nverified,vantage,conflict}}}. The whole response is Ed25519-signed (verify against /.well-known/keys),\nso this is verifiable, reliability-graded, multi-tool data in one round-trip. Default shape is unchanged.","operationId":"v1_batch_v1_batch_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/pro/tool/{tool}":{"post":{"tags":["agent"],"summary":"V1 Pro Tool","description":"PREMIUM single signed tool call — pay-per-call (x402, USDC on Base) for ANY one of Dynamic Feed's\nlive tools. An agent pays once, gets one Ed25519-signed datapoint. No signup, no human. Body:\n{\"args\":{...}}. Discoverable via the x402 bazaar. (Free alternative: keyless /v1/batch, fair-use.)","operationId":"v1_pro_tool_v1_pro_tool__tool__post","parameters":[{"name":"tool","in":"path","required":true,"schema":{"type":"string","title":"Tool"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["agent"],"summary":"V1 Pro Tool Discover","description":"Discovery for the paid single-call endpoint. A GET returns the x402 402 challenge — so an agent that\nprobes with GET (instead of a 'Method Not Allowed' dead end) still learns the price, the asset, and that\nit must POST with an X-PAYMENT header + {\"args\":{...}} body. NO payment is taken on GET; settlement only\never happens on POST. Pure discovery, no money path.","operationId":"v1_pro_tool_discover_v1_pro_tool__tool__get","parameters":[{"name":"tool","in":"path","required":true,"schema":{"type":"string","title":"Tool"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/pro/asof":{"post":{"tags":["agent"],"summary":"V1 Pro Asof","description":"PREMIUM keyless AS-OF REPLAY — pay-per-call (x402, USDC on Base) signed time-machine over Dynamic\nFeed's append-only archive. Body {\"tool\":\"current_weather\",\"t\":\"2026-06-10T14:30:00Z\"} (or ?tool=&t=)\n-> the archived observation for `tool` nearest at-or-before `t`, replayed VERBATIM, Ed25519-signed\n(verify against GET /.well-known/keys). The keyless paid channel to the SAME engine as the key-gated\nGET /v1/asof — for agent backtesting, audit trails and 'what did we know when we decided' disputes.\nNo signup, no human; discoverable via the x402 bazaar. Honest about coverage: a time the archive\ndidn't capture returns a clear miss, never a fabricated past.","operationId":"v1_pro_asof_v1_pro_asof_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/pro/batch":{"post":{"tags":["agent"],"summary":"V1 Pro Batch","description":"PREMIUM, pay-per-call data batch — the commercial tier of /v1/batch, paid AGENT-NATIVELY via x402\n(HTTP 402): an agent gets a price, pays from its wallet, re-calls with the X-PAYMENT header, and is\nserved — no human, no signup. Up to 100 signed tool calls per request (free /v1/batch is fair-use,\ncapped at 20). Dynamic Feed charges for its OWN service; a third-party facilitator settles the payment\n— DF never custodies funds (witness-not-money). Body: {\"calls\":[{\"tool\":...,\"args\":{...}}, ...]}.","operationId":"v1_pro_batch_v1_pro_batch_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/pro/catalog":{"get":{"tags":["agent"],"summary":"V1 Pro Catalog","description":"Machine-readable MENU of Dynamic Feed's x402 pay-per-call SKUs (USDC on Base) — the 'price list'\nan agent or x402 facilitator shops in one call: every paid endpoint, its price (live from\nX402_PRICE_ATOMIC), input/output schema, the recipient wallet (when connected), and the facilitator.\nBoundary: DF is the merchant; the facilitator settles — DF never custodies funds.","operationId":"v1_pro_catalog_v1_pro_catalog_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/drift":{"post":{"tags":["agent"],"summary":"V1 Drift","description":"Drift detection — audit an AI's stated facts against live ground-truth, graded by severity. Keyless.\nBody: {\"claims\":[\"The latest Python is 3.11\",\"Node.js is on 18\"]} or {\"text\":\"<an LLM answer>\"}.\nReturns {checked, drifted_count, overall, results:[{claim, status, drifted, severity, correction, source}]}.","operationId":"v1_drift_v1_drift_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/guard":{"post":{"tags":["agent"],"summary":"V1 Guard","description":"Pre-answer guard — the anti-hallucination middleware. POST the draft answer your AI is about to\nsend; get back a verdict of \"pass\" or \"revise\" plus the exact corrections, so you can fix it BEFORE\nthe user sees it. Keyless. Wrap it around any LLM response pipeline.\nBody: {\"answer\":\"<the draft answer text>\"} or {\"claims\":[\"...\",\"...\"]}.\nReturns {verdict:\"pass\"|\"revise\", checked, issues:[{claim, subject, severity, correction, source}],\nconfirmed, unverifiable, guidance}. Only claims that CONTRADICT live data trigger \"revise\"; opinions\nand facts no live feed can cover pass through untouched. Verifies prices, software versions, market\nopen/closed and service up/down against Dynamic Feed's live ground-truth.","operationId":"v1_guard_v1_guard_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/sources":{"get":{"tags":["agent"],"summary":"V1 Sources","description":"The authoritative source catalog — every upstream feed Dynamic Feed serves, with its publisher,\nofficial URL, licence, whether commercial use + redistribution is permitted, update cadence, and the\ntools it backs. Keyless. Each datapoint is provenance-stamped (source, licence, timestamp) so you can\ncite it and verify usage rights yourself.","operationId":"v1_sources_v1_sources_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/explain":{"get":{"tags":["agent"],"summary":"V1 Explain","description":"Explain the source / chain of custody for one subject. Pass ?subject= (GET) or {\"subject\":\"...\"}\n(POST) — a tool name (earthquakes), a source (USGS), or a topic. Returns the upstream source(s),\nlicence, official URL, update cadence and the full custody trail (origin -> ingest -> normalize ->\nserve, plus sign/anchor for awareness), so you can trace and verify where a number came from. Keyless.","operationId":"v1_explain_v1_explain_get","parameters":[{"name":"subject","in":"query","required":false,"schema":{"type":"string","default":"","title":"Subject"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["agent"],"summary":"V1 Explain","description":"Explain the source / chain of custody for one subject. Pass ?subject= (GET) or {\"subject\":\"...\"}\n(POST) — a tool name (earthquakes), a source (USGS), or a topic. Returns the upstream source(s),\nlicence, official URL, update cadence and the full custody trail (origin -> ingest -> normalize ->\nserve, plus sign/anchor for awareness), so you can trace and verify where a number came from. Keyless.","operationId":"v1_explain_v1_explain_get","parameters":[{"name":"subject","in":"query","required":false,"schema":{"type":"string","default":"","title":"Subject"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/snapshot":{"get":{"tags":["agent"],"summary":"V1 Snapshot","description":"Historical world-state — what Dynamic Feed reported on a given day. ?date=YYYY-MM-DD returns that\nday's stored snapshot (the cross-domain world_pulse digest); no date returns today's, captured on\nread. Honest about coverage: a date before the earliest snapshot returns the available range, never\na fabricated past. Keyless. The auditable companion to the signed/RFC 3161 timestamped awareness layer.","operationId":"v1_snapshot_v1_snapshot_get","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","default":"","title":"Date"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/asof":{"get":{"tags":["agent"],"summary":"V1 Asof","description":"TIME-MACHINE REPLAY — what did the data say at decision time? Returns the archived observation\nfor `tool` nearest at-or-before time `t`, replayed VERBATIM from Dynamic Feed's append-only archive\n(capturing every served datapoint since 2026-06-07) — the value as served then, never a re-fetch or\nreconstruction. The response carries honest metadata (`archived_at`, `distance_seconds` from your\nrequested instant, the exact archive object, where coverage begins) and is Ed25519-signed (verify\nagainst GET /.well-known/keys) — built for agent backtesting, audit trails and \"what did we know\nwhen we decided\" disputes. Honest about coverage: a time the archive didn't capture returns a clear\nmiss with the nearest captured day, never a fabricated past. Paid plans (Pro and up); auth via the\nX-API-Key header. Upgrade: https://dynamicfeed.ai/dashboard","operationId":"v1_asof_v1_asof_get","parameters":[{"name":"tool","in":"query","required":true,"schema":{"type":"string","description":"tool name, e.g. current_weather (the keyless MCP tool names)","title":"Tool"},"description":"tool name, e.g. current_weather (the keyless MCP tool names)"},{"name":"t","in":"query","required":true,"schema":{"type":"string","description":"ISO-8601 timestamp, e.g. 2026-06-10T14:30:00Z","title":"T"},"description":"ISO-8601 timestamp, e.g. 2026-06-10T14:30:00Z"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/anchor/daily":{"get":{"tags":["robot"],"summary":"V1 Anchor Daily","description":"L2 — the day's world-state snapshot timestamped via RFC 3161 (one hash per day, free &\nbatched via RFC 3161): a durable, tamper-evident record of what Dynamic Feed reported. Anchors\non first call (idempotent), then returns the proof. ?date=YYYY-MM-DD; keyless.","operationId":"v1_anchor_daily_v1_anchor_daily_get","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","default":"","title":"Date"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/watchlist":{"get":{"tags":["agent"],"summary":"V1 Watchlist Get","description":"Your saved watchlist — the subjects/tools you monitor. ?pull=true runs every watched tool and\nreturns each one's CURRENT value in a single call (your whole dashboard at once). Per-user, keyed by\nyour API key (X-API-Key).","operationId":"v1_watchlist_get_v1_watchlist_get","parameters":[{"name":"pull","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Pull"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["agent"],"summary":"V1 Watchlist Post","description":"Add to or replace your watchlist. Body {\"label\":\"BTC\",\"tool\":\"cite\",\"args\":{\"subject\":\"BTC\"}} adds\none item; body {\"items\":[...]} replaces the whole list (max 25). Each item's `tool` must be a real\nDynamic Feed tool. Per-user, keyed by your API key.","operationId":"v1_watchlist_post_v1_watchlist_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["agent"],"summary":"V1 Watchlist Delete","description":"Remove one item from your watchlist (?label=BTC) or clear it entirely (no label). Per-user.","operationId":"v1_watchlist_delete_v1_watchlist_delete","parameters":[{"name":"label","in":"query","required":false,"schema":{"type":"string","default":"","title":"Label"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/stream":{"get":{"tags":["agent"],"summary":"V1 Stream","description":"Server-Sent Events stream of a LIVE value. Point an EventSource at\n/v1/stream?tool=<tool>&args=<json>&interval=<sec>&count=<n> and receive the tool's current value every\n`interval` seconds as a `value` event, until `count` updates or you disconnect. Keyless. Bounded for\nfair use: interval 5-300s, count 1-60. Example: /v1/stream?tool=cite&args={\"subject\":\"BTC\"}&interval=10","operationId":"v1_stream_v1_stream_get","parameters":[{"name":"tool","in":"query","required":false,"schema":{"type":"string","default":"","title":"Tool"}},{"name":"args","in":"query","required":false,"schema":{"type":"string","default":"","title":"Args"}},{"name":"interval","in":"query","required":false,"schema":{"type":"number","default":15,"title":"Interval"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Count"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks":{"post":{"tags":["agent"],"summary":"V1 Webhooks Create","description":"Register a webhook that fires when a tool's value CHANGES. Body:\n{\"url\":\"https://you.example/hook\",\"tool\":\"exploited_vulnerabilities\",\"args\":{}}. The URL is validated\nSSRF-safe (public http/https only). Returns a one-time `secret` — every delivery is HMAC-SHA256 signed\nwith it (header X-DynamicFeed-Signature: sha256=…), so you can verify it came from us. Per-user (X-API-Key).","operationId":"v1_webhooks_create_v1_webhooks_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["agent"],"summary":"V1 Webhooks List","description":"List your webhook subscriptions (secrets are never returned). Per-user.","operationId":"v1_webhooks_list_v1_webhooks_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["agent"],"summary":"V1 Webhooks Delete","description":"Delete one of your webhook subscriptions by ?id=. Per-user.","operationId":"v1_webhooks_delete_v1_webhooks_delete","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks/test":{"post":{"tags":["agent"],"summary":"V1 Webhooks Test","description":"Send a signed TEST delivery to one of your subscriptions now — confirm your endpoint receives it and\nthe HMAC validates. Body: {\"id\": <subscription id>}. Per-user.","operationId":"v1_webhooks_test_v1_webhooks_test_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1":{"get":{"tags":["agent"],"summary":"V1 Index","description":"The Dynamic Feed agent & robot API at a glance — every /v1 capability, what it does, and a\ncopy-paste example. The fastest way for a developer (or an agent) to discover the whole surface.\nKeyless unless noted.","operationId":"v1_index_v1_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/awareness":{"post":{"tags":["robot"],"summary":"V1 Awareness","description":"Robot situational-awareness v1: ONE call returns a go / caution / no-go verdict plus the grounded\nfacts behind it, for a robot (ground|humanoid|aerial|marine|orbital) at a location. NEVER blocks: the\nfeeds fan out under a hard deadline and any laggard is dropped with the snapshot flagged `degraded`\n(fail-safe → the verdict can never be `go` when degraded, it floors to `caution`). Keyless in v1.\n\nBody: {\"robot\":{\"id\",\"class\"},\"location\":{\"lat\",\"lon\",\"alt_m\"},\"radius_km\"?,\"domains\"?,\n\"max_staleness_s\"?,\"limits\"?,\"deadline_ms\"?,\"require_signed\"?}. Every response is signed with Ed25519\n(Rung B) · verify against GET /.well-known/keys. Timestamp a snapshot's hash via POST /v1/anchor (Rung C).","operationId":"v1_awareness_v1_awareness_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/preflight":{"post":{"tags":["robot"],"summary":"V1 Preflight","description":"Drone PRE-FLIGHT safety check: a preset over /v1/awareness for class=aerial. POST\n{\"location\":{\"lat\",\"lon\",\"alt_m\"?},\"radius_km\"?}. Returns a go / caution / no-go take-off verdict\nfused from wind & weather, air quality, space weather (GPS/comms integrity) and nearby hazards ·\nEd25519-signed, hard-deadline (never hangs; degraded floors to caution). Keyless.","operationId":"v1_preflight_v1_preflight_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/road":{"post":{"tags":["robot"],"summary":"V1 Road","description":"Ground / autonomous-vehicle OVER-THE-HORIZON hazard check: a preset over /v1/awareness for\nclass=ground. POST {\"location\":{\"lat\",\"lon\"},\"radius_km\"?}. Returns a go / caution / no-go verdict\nfused from weather, air quality and nearby earthquakes/hazards along the route · signed, never hangs.\nKeyless.","operationId":"v1_road_v1_road_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/humanoid":{"post":{"tags":["robot"],"summary":"V1 Humanoid","description":"Humanoid PRE-OPERATION check: a preset over /v1/awareness for class=humanoid (a bipedal robot\nworking AMONG PEOPLE). POST {\"location\":{\"lat\",\"lon\"},\"radius_km\"?}. Returns a go / caution / no-go\nverdict fused from wind (topple risk, high centre of mass), precipitation (slip/footing), temperature\n(ice underfoot + actuator/battery envelope), air quality (tighter, people nearby) and nearby\nearthquakes · Ed25519-signed, hard-deadline (never hangs; degraded floors to caution).\nADVISORY EVIDENCE ONLY: proof of what was true at a time, NOT a safety certification and NOT a\nguarantee it is safe to act; the robot's own stack owns every action. Keyless.","operationId":"v1_humanoid_v1_humanoid_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/marine":{"post":{"tags":["robot"],"summary":"V1 Marine","description":"Marine vessel / USV PRE-OPERATION check: a preset over /v1/awareness for class=marine. POST\n{\"location\":{\"lat\",\"lon\"},\"radius_km\"?}. Returns a go / caution / no-go verdict fused from live\nsignificant WAVE HEIGHT (the primary driver), wind, a heavy-precipitation storm proxy, geomagnetic\nactivity (GPS/comms) and nearby earthquakes (tsunami) · Ed25519-signed, hard-deadline (never hangs;\ndegraded floors to caution). Inland points simply omit the sea-state factor. ADVISORY EVIDENCE only:\nnot a safety certification and not a claim it is safe to sail; the vessel's own stack owns every\naction. Keyless.","operationId":"v1_marine_v1_marine_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/receipt":{"post":{"tags":["agent"],"summary":"V1 Receipt","description":"Evidence receipt — wrap any fact/claim/data in a timestamped, Ed25519-SIGNED record: provable\nevidence of what an AI was told (or asserted), and when. Body: {\"data\": <any JSON>} or {\"claim\":\"...\"}.\nReturns the receipt + a detached signature (verify against GET /.well-known/keys); anchor its hash to\nRFC 3161 via POST /v1/anchor. Keyless. An audit-trail input for regulated AI (fintech / legal / medical).","operationId":"v1_receipt_v1_receipt_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/stamp":{"post":{"tags":["agent"],"summary":"V1 Stamp","description":"Create an independently verifiable record of submitted JSON.\n\n``X-API-Key`` is optional so the existing keyless signing behaviour remains available. When a\nkey is supplied it is always validated: portal ``fx_live_`` keys use the isolated Fluxdyne\nruntime database boundary, while legacy keys keep their existing validation and metering path.\nA signature establishes integrity and issuer identity; it does not establish that submitted\ncontent is complete, scientifically valid, or true.","operationId":"v1_stamp_v1_stamp_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/agent/receipt":{"post":{"tags":["agent"],"summary":"V1 Agent Receipt","description":"Agent receipt. A signed, re-checkable record of what an AI agent acted on and what it decided.\nThe operational-integrity primitive for the agent economy: prove, after the fact, the inputs behind\nan agent's action. Body: {\"agent\": \"...\", \"action\": \"...\", \"inputs\": <any JSON the agent acted on>},\nplus optional \"model\", \"decision\", \"context\". Returns an agent-receipt/v1 with a detached Ed25519\nsignature (verify against GET /.well-known/keys: drop the `signature` field, canonicalize\njson-sorted-compact). Anchor the hash via RFC 3161 via POST /v1/anchor. Keyless. Advisory evidence and\na neutral witness: it proves what the agent was given and did, never that the decision was correct,\nand it never moves anything. Spec: https://dynamicfeed.ai/standard","operationId":"v1_agent_receipt_v1_agent_receipt_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/notarize":{"post":{"tags":["agent"],"summary":"V1 Notarize","description":"NOTARY for any data feed — a neutral third party witnesses YOUR data and returns a timestamped,\nEd25519-signed notarization: proof these exact bytes existed at this moment, independently verifiable\nforever. Two modes — send the data ({\"payload\": <any JSON>}), or keep it private and send only its\nhash ({\"payload_sha256\": \"<64-hex>\"}). Optional \"subject\" names the publisher; \"echo\": false omits\nthe payload from the record (hash retained). This attests that Dynamic Feed WITNESSED these bytes\n(or this hash) at witnessed_at — not that the content is true. Anchor via POST /v1/anchor for\nproof-of-when independent of us. Auth: X-API-Key (free key at POST /signup). 'Let's Encrypt for\ndata feeds' — your feed, signed, without building a signing stack.","operationId":"v1_notarize_v1_notarize_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/exposure-report":{"get":{"tags":["agent"],"summary":"V1 Exposure Report","description":"Automated, signed EXPOSURE REPORT. Maps the perils a decision depends on to the external readings\nthat decide them, flags where those readings are unverifiable today, and attaches a LIVE signed sample\nobservation for each, so an organisation can see where its decisions rely on data it cannot independently\ncheck. Fully automated, no human in the loop. Ed25519-signed; verify offline at /.well-known/keys.\nAdvisory evidence, not a certification or legal/financial advice.","operationId":"v1_exposure_report_v1_exposure_report_get","parameters":[{"name":"perils","in":"query","required":false,"schema":{"type":"string","default":"wind,flood,wildfire","title":"Perils"}},{"name":"lat","in":"query","required":false,"schema":{"type":"number","default":-33.8688,"title":"Lat"}},{"name":"lon","in":"query","required":false,"schema":{"type":"number","default":151.2093,"title":"Lon"}},{"name":"place","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Place"}},{"name":"organisation","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Organisation"}},{"name":"use_case","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Use Case"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/evidence/wildfire":{"get":{"tags":["agent"],"summary":"V1 Evidence Wildfire","description":"Chain-of-custody EVIDENCE record for a wildfire detection. Wraps a SELF-REPORTED detection\n(detector, lat/lon, time) with Dynamic Feed's INDEPENDENT context captured at that location the moment\nit's requested — fire-weather, near-term forecast, air quality (smoke), and tracked EONET wildfire\nevents — each datapoint carrying its source, licence and age. The whole record is Ed25519-signed so any\nparty can verify it OFFLINE against /.well-known/keys, WITHOUT trusting the detector or Dynamic Feed.\nAdvisory evidence + audit layer: it does NOT make, certify, or sit in the safety-critical path of the\ndetection — it makes the surrounding context provable later (an insurer claim, a liability review, an\nSLA). Keyless. Anchor via RFC 3161 via POST /v1/anchor for proof-of-when independent of us.","operationId":"v1_evidence_wildfire_v1_evidence_wildfire_get","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","title":"Lat"}},{"name":"lon","in":"query","required":true,"schema":{"type":"number","title":"Lon"}},{"name":"detected_at","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detected At"}},{"name":"detector","in":"query","required":false,"schema":{"type":"string","default":"the detector","title":"Detector"}},{"name":"place","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Place"}},{"name":"confidence","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Confidence"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/vc":{"post":{"tags":["agent"],"summary":"V1 Vc","description":"Security quarantine: legacy VC wrapping did not verify the inner receipt or role boundaries.","operationId":"v1_vc_v1_vc_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/station/register":{"post":{"tags":["agent"],"summary":"V1 Station Register","description":"WE SIGN YOUR STATION, register your own sensor so its readings can be witnessed as signed\nreceipts. Body: {\"name\": \"...\", \"location\": {\"lat\": .., \"lon\": ..}, \"quantities\": [\"wind_kmh\", ...]}.\nReturns a station_id + provenance. Dynamic Feed witnesses what your station reports; it does not\nmeasure the value. Your key is stored only as a non-reversible hash. Auth: X-API-Key (free key at\nPOST /signup).","operationId":"v1_station_register_v1_station_register_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/station/reading":{"post":{"tags":["agent"],"summary":"V1 Station Reading","description":"Witness one reading your station reported: get back a signed station-receipt/v1 stating, in\nwords, that the value is self-reported by your station and only WITNESSED (not measured) by\nDynamic Feed. Body: {\"station_id\": \"stn_...\", \"quantity\": \"wind_kmh\", \"value\": 12.4, \"unit\": \"km/h\",\n\"observed_at\": \"...\"}. Keyless verification against /.well-known/keys. Auth: X-API-Key.","operationId":"v1_station_reading_v1_station_reading_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/station/{station_id}":{"get":{"tags":["agent"],"summary":"V1 Station Get","description":"The public descriptor of a registered station (no owner identity). Keyless, so a verifier of a\nstation-receipt can see what the station is and what it reports.","operationId":"v1_station_get_v1_station__station_id__get","parameters":[{"name":"station_id","in":"path","required":true,"schema":{"type":"string","title":"Station Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/proxy-witness":{"post":{"tags":["agent"],"summary":"V1 Proxy Witness","description":"PROXY WITNESS, route any third-party API call through Dynamic Feed and get a signed, archived\nreceipt of exactly what that URL returned to us at this moment. Body:\n{\"url\": \"https://...\", \"method\": \"GET\"|\"POST\"|..., \"headers\": {...}, \"body\": \"...\", \"echo\": false, \"subject\": \"...\"}.\nWe fetch server-side under an SSRF guard (only public http/https targets; private and reserved\naddresses blocked; redirects not followed), redact your request credentials from the record, and\nsign a proxy-witness/v1 envelope carrying the response status, content-type, size and SHA-256 (the\nfull body only when echo:true and small; our archive is hash-first and never keeps the body).\nWitnesses what the URL returned to us, not that the content is true; never the money path.\nAuth: X-API-Key (free key at POST /signup).","operationId":"v1_proxy_witness_v1_proxy_witness_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/witness":{"post":{"tags":["agent"],"summary":"V1 Witness","description":"WITNESS a machine-to-machine / agent-to-agent transaction RECORD — a neutral, third-party,\nEd25519-signed, transparency-logged, RFC 3161 timestampable receipt that this exact record EXISTED and\nis INTACT. Dynamic Feed sits BESIDE the transaction, NEVER in the value path: it only signs +\ntimestamps + anchors a HASH of a record you give it. It never accepts, holds, routes, converts or\ncustodies funds or anything of value. Send the record ({\"payload\": <json>}) or keep it private\n({\"content_hash\": \"<64-hex sha256>\"}). Optional: parties[] (opaque ids — NO PII), txn_ref (opaque),\nand a BYO-key agent co-signature (provider_pubkey + provider_sig, Ed25519 over the ascii-hex hash)\nso the receipt reads \"agent attested, Dynamic Feed witnessed\". Auth: a FREE key (POST /signup) —\nno KYC. PROVES: the record existed at issued_at, is intact (tamper-EVIDENT, verifiable via\n/verify.js against /.well-known/keys), and which agent key co-signed. Does NOT prove the\ntransaction was authorized, correct, lawful, completed, or that any value moved. Profile of\nreceipt/v1. Anchor independently via POST /v1/anchor.","operationId":"v1_witness_v1_witness_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/witness/sample":{"get":{"tags":["agent"],"summary":"V1 Witness Sample","description":"A keyless, signed SAMPLE txn-receipt/v1 — for the /witness demo. Shows exactly what POST\n/v1/witness returns (without writing to the log or needing a key): a neutral witness of a sample\nmachine-to-machine transaction record, with the recent-Bitcoin-block NOT-BEFORE time marker.\nVerify it in-browser via /verify.js, then flip a byte and watch verification fail.","operationId":"v1_witness_sample_v1_witness_sample_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/inference-receipt":{"post":{"tags":["agent"],"summary":"V1 Inference Receipt","description":"WITNESS a single AI model INFERENCE — a neutral, Ed25519-signed, transparency-logged,\nRFC 3161 timestampable receipt that this inference record EXISTED and is INTACT. Privacy by\nCONSTRUCTION: the caller hashes the prompt + response LOCALLY and sends ONLY fixed-length sha256\nhashes + non-PII metadata. Body: {\"claimed_model\": \"<the model the PROVIDER's own response\nreported>\", \"prompt_sha256\": \"<64-hex>\", \"response_sha256\": \"<64-hex>\"} plus optional\nrequested_model, latency_ms, token_count, fallback_flag (the provider's OWN flag), provider,\nregion, and a BYO-key agent co-signature (provider_pubkey + provider_sig). Auth: a FREE key (POST\n/signup) — no KYC. PROVES: the record existed at issued_at and is intact (tamper-EVIDENT, verifiable\nvia /verify.js against /.well-known/keys). Does NOT independently verify which model actually ran,\ndoes NOT adjudicate that a 'downgrade' occurred, does NOT score quality — model_match is a literal\nstring comparison and the holder draws any inference. Profile of receipt/v1. Anchor via POST /v1/anchor.","operationId":"v1_inference_receipt_v1_inference_receipt_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/inference-receipt/sample":{"get":{"tags":["agent"],"summary":"V1 Inference Receipt Sample","description":"A keyless, signed SAMPLE inference-receipt/v1 — for the /receipts demo. Shows what POST\n/v1/inference-receipt returns: a neutral witness of a sample inference where the provider served a\nDIFFERENT model than requested and set its own fallback flag (illustrative, vendor-neutral). Verify\nit in-browser via /verify.js, then flip a byte and watch verification fail.","operationId":"v1_inference_receipt_sample_v1_inference_receipt_sample_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/robot-receipt":{"post":{"tags":["robot"],"summary":"V1 Robot Receipt","description":"WITNESS a single robot / embodied-AI DECISION: the neutral 'black box' receipt of what a robot\nwas told and which model/policy decided, at the moment it acted. Ed25519-signed, transparency-logged,\nRFC 3161 timestampable. Privacy by CONSTRUCTION: the caller hashes the decision inputs (sensor/awareness\ncontext) LOCALLY and sends ONLY a fixed-length sha256 + non-PII labels. Body: {\"robot_class\":\n\"ground|aerial|marine|orbital|humanoid\", \"model_id\": \"<deciding model/policy>\", \"verdict\":\n\"go|caution|no-go\", \"inputs_sha256\": \"<64-hex>\"} plus optional decision, awareness_ref (a prior\n/v1/awareness snapshot_id), region (COARSE, no precise coords), latency_ms, and a BYO-key co-signature.\nAuth: a FREE key (POST /signup). ADVISORY EVIDENCE ONLY: proves the decision record existed and is\nintact (tamper-EVIDENT, verifiable via /verify.js); it does NOT certify the action was safe/correct/\nlawful, is NOT a safety system, and is NOT the actuator (the robot's own certified safety layer decides).\nProfile of receipt/v1. Anchor via POST /v1/anchor.","operationId":"v1_robot_receipt_v1_robot_receipt_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/robot-receipt/sample":{"get":{"tags":["robot"],"summary":"V1 Robot Receipt Sample","description":"A keyless, signed SAMPLE robot-receipt/v1: the 'black box' record of an embodied-AI decision (an\naerial robot told CAUTION on degraded GPS, which held). Verify it in-browser via /verify.js, then flip\na byte and watch verification fail. Advisory evidence only: not a safety system.","operationId":"v1_robot_receipt_sample_v1_robot_receipt_sample_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/eval-receipt":{"post":{"tags":["agent"],"summary":"V1 Eval Receipt","description":"WITNESS an AI EVALUATION run — the neutral 'Verified Eval' stamp for the contamination-proof-\nbenchmark era. The lab commits its test set as a salted sha256 BEFORE the run (`set_commitment`), so\nthe set stays PRIVATE while the run becomes un-retunable after the fact — solving the evaluator's\ndilemma of having to expose a private set to be trusted. Ed25519-signed, transparency-logged,\nRFC 3161 timestampable. Body: {\"eval_name\": \"<benchmark>\", \"model_id\": \"<model evaluated>\", \"metric\":\n\"pass@1\", \"score\": 0.58, \"set_commitment\": \"<64-hex>\"} plus optional n, run_sha256 (hash of the full\ntranscript), harness, and a BYO-key co-signature. Auth: a FREE key (POST /signup). ADVISORY EVIDENCE\nONLY — Dynamic Feed does NOT re-run or verify the score, and does NOT certify the benchmark is\nfair/representative/contamination-free; it witnesses the COMMITTED run so no party can retune it\nretroactively. Profile of receipt/v1. Anchor via POST /v1/anchor.","operationId":"v1_eval_receipt_v1_eval_receipt_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/eval-receipt/sample":{"get":{"tags":["agent"],"summary":"V1 Eval Receipt Sample","description":"A keyless, signed SAMPLE eval-receipt/v1 — a 'Verified Eval' run against a sealed, committed test\nset (the set stays private; only its commitment is signed). Verify it in-browser via /verify.js, then\nflip a byte and watch verification fail. Advisory evidence only — DF witnesses the committed run, it\ndoes not re-run or certify the benchmark.","operationId":"v1_eval_receipt_sample_v1_eval_receipt_sample_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/checkpoints":{"get":{"tags":["agent"],"summary":"V1 Checkpoints","description":"Daily ARCHIVE CHECKPOINTS, newest first — the append-only claim made independently\ncheckable. Each entry carries the signed archive-day/v1 document: a SHA-256 digest of that\nday's full archive listing, per-feed object counts, the previous day's digest (the chain),\nand the anchor status of a DLT-timestamp proof committing the digest to a public\ndistributed ledger (RFC 3161 on fallback). Keyless.","operationId":"v1_checkpoints_v1_checkpoints_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":30,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/checkpoints/{day}/proof":{"get":{"tags":["agent"],"summary":"V1 Checkpoint Proof","description":"The raw witness proof for one day's archive checkpoint. kind=ots (default) returns the\nDLT-timestamp .ots bytes (verify: ots verify -d <digest_sha256> checkpoint-<day>.ots);\nkind=rfc3161 returns the RFC 3161 timestamp token DER from the independent TSA (verify:\nopenssl ts -reply -in checkpoint-<day>.tsr -text, then openssl ts -verify -digest\n<digest_sha256> -sha256 -in checkpoint-<day>.tsr). Offline runner for both witnesses:\nscripts/verify_checkpoint.py. Keyless.","operationId":"v1_checkpoint_proof_v1_checkpoints__day__proof_get","parameters":[{"name":"day","in":"path","required":true,"schema":{"type":"string","title":"Day"}},{"name":"kind","in":"query","required":false,"schema":{"type":"string","default":"ots","title":"Kind"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/notary/log/head":{"get":{"tags":["agent"],"summary":"V1 Notary Head","description":"The transparency-log HEAD — count + chain head hash, Ed25519-signed. The anchorable artifact:\naltering ANY past notarization breaks every entry_hash after it and contradicts the anchored\nhead. Keyless.","operationId":"v1_notary_head_v1_notary_log_head_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/notary/log/{idx}":{"get":{"tags":["agent"],"summary":"V1 Notary Entry","description":"One transparency-log entry by index, Ed25519-signed, with the recipe to recompute its\nentry_hash and verify chain linkage. Keyless.","operationId":"v1_notary_entry_v1_notary_log__idx__get","parameters":[{"name":"idx","in":"path","required":true,"schema":{"type":"integer","title":"Idx"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/notary/log":{"get":{"tags":["agent"],"summary":"V1 Notary Log","description":"The PUBLIC TRANSPARENCY LOG of all notarizations — append-only, hash-chained (CT-style),\nnewest first. Payload hashes only (never payloads): private by construction, tamper-evident by\nrecipe. Page back with ?before=<idx>. Keyless.","operationId":"v1_notary_log_v1_notary_log_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}},{"name":"before","in":"query","required":false,"schema":{"type":"integer","title":"Before"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/notary/log/{idx}/proof":{"get":{"tags":["agent"],"summary":"V1 Notary Proof","description":"INCLUSION PROOF for a log entry: the consecutive chain of entries from this index to the most\nrecently ANCHORED head (or the current head if no anchor covers it yet), plus the anchor record.\nRecompute each entry_hash and you have proven this entry is in the history the Bitcoin anchor\ncommits to — no trust in Dynamic Feed required. Keyless.","operationId":"v1_notary_proof_v1_notary_log__idx__proof_get","parameters":[{"name":"idx","in":"path","required":true,"schema":{"type":"integer","title":"Idx"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/witness/{idx}/inclusion":{"get":{"tags":["agent"],"summary":"V1 Witness Inclusion","description":"SUCCINCT, browser-verifiable inclusion proof that witness/notary entry {idx} is in the\nappend-only log — an O(log n) RFC-6962 Merkle audit path to a tree root we Ed25519-SIGN (the\ncheckpoint). Any party folds leaf -> root in their own browser and checks the checkpoint signature\nagainst /.well-known/keys, with NO trust in Dynamic Feed's word (only its published key). Keyless.\nRecipe: leaf = sha256(0x00 ‖ content_hash_bytes); node = sha256(0x01 ‖ left ‖ right); fold the\naudit_path (each {sibling, side}) up to root_sha256; confirm it equals the signed\ncheckpoint.root_sha256, then verify the checkpoint Ed25519 signature. In-browser via\n/verify.js verifyInclusion(). Complements GET /v1/notary/log/{idx}/proof (the O(n) chain replay):\nthe chain proves append-order, this proves succinct membership in a signed tree.","operationId":"v1_witness_inclusion_v1_witness__idx__inclusion_get","parameters":[{"name":"idx","in":"path","required":true,"schema":{"type":"integer","title":"Idx"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/notary/feeds":{"post":{"tags":["agent"],"summary":"V1 Notary Feed Register","description":"CONTINUOUS NOTARIZATION — register a feed URL and Dynamic Feed fetches it on your interval,\nnotarizing every CHANGE into the public transparency log automatically: a standing, tamper-evident\nhistory of what your feed published, when. Body: {\"url\": \"https://...\", \"subject\": \"Your Co\",\n\"interval_minutes\": 180 (min 60)}. Beta: 3 active feeds per key. The first fetch happens\nimmediately and its notarization is returned.","operationId":"v1_notary_feed_register_v1_notary_feeds_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["agent"],"summary":"V1 Notary Feeds List","description":"Your registered continuous-notarization feeds (same X-API-Key): status, last hash, last log\nindex, next-run cadence.","operationId":"v1_notary_feeds_list_v1_notary_feeds_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/benchmark":{"get":{"tags":["agent"],"summary":"V1 Benchmark","description":"The LIVE-FACTS BENCHMARK — a continuously-refreshed eval of facts that move after a model's\ntraining cutoff. Ask a model these questions WITHOUT tools and grade against the answers measured\nfrom authoritative sources at call time: every frozen model fails; a grounded agent passes. Each\nitem carries its grading rule, source and measured_at; the whole set is Ed25519-signed so a\npublished score is verifiable evidence, not a claim. Regenerate per run — answers are\ntime-sensitive by design. Keyless.","operationId":"v1_benchmark_v1_benchmark_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/benchmark/history":{"get":{"tags":["agent"],"summary":"V1 Benchmark History","description":"DRIFT OVER TIME — daily snapshots of the live-facts benchmark (GET /v1/benchmark), oldest\nfirst. Each snapshot is the items array exactly as measured that day, so diffing consecutive\nsnapshots shows how fast reality moves away from any fixed training cutoff: rates shift,\nreleases ship, CVEs land. History starts at first_snapshot_at and grows one snapshot per day.\nHuman-readable charts at /benchmark/history. Ed25519-signed. Keyless.","operationId":"v1_benchmark_history_v1_benchmark_history_get","parameters":[{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"default":90,"title":"Days"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/nearby":{"get":{"tags":["agent"],"summary":"V1 Nearby","description":"Signed situational scan: live hazards near a point — earthquakes (USGS), natural events (NASA\nEONET: wildfires/volcanoes/floods/storms), major disasters (GDACS) and, in Australia, live satellite\nbushfire hotspots (Geoscience Australia) within radius_km, nearest first. Ed25519-signed (verify\nagainst GET /.well-known/keys). The 'what's around me' ping for any machine that moves — robots,\ndrones, in-car AI assistants, fleet telematics — complements the go/caution/no-go verdict from\n/v1/awareness.","operationId":"v1_nearby_v1_nearby_get","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","title":"Lat"}},{"name":"lon","in":"query","required":true,"schema":{"type":"number","title":"Lon"}},{"name":"radius_km","in":"query","required":false,"schema":{"type":"number","default":500.0,"title":"Radius Km"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/attest":{"get":{"tags":["agent"],"summary":"V1 Attest","description":"Signed parametric-trigger attestation — evaluate 'metric op threshold' at a location against the\nlive measurement and return a tamper-evident, Ed25519-signed MET / NOT-MET record. The dispute-proof\noracle a parametric-insurance payout can settle against. metric: wind_kmh | temperature_c |\nfeels_like_c | precipitation_mm. op: gt | gte | lt | lte. Verify against GET /.well-known/keys;\ntimestamp via POST /v1/anchor (RFC 3161) for independent proof of when.","operationId":"v1_attest_v1_attest_get","parameters":[{"name":"metric","in":"query","required":true,"schema":{"type":"string","title":"Metric"}},{"name":"threshold","in":"query","required":true,"schema":{"type":"number","title":"Threshold"}},{"name":"op","in":"query","required":false,"schema":{"type":"string","default":"gte","title":"Op"}},{"name":"lat","in":"query","required":false,"schema":{"type":"number","title":"Lat"}},{"name":"lon","in":"query","required":false,"schema":{"type":"number","title":"Lon"}},{"name":"city","in":"query","required":false,"schema":{"type":"string","title":"City"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/trigger-receipt":{"get":{"tags":["agent"],"summary":"V1 Trigger Receipt","description":"Parametric catastrophe TRIGGER RECEIPT (DF-VERIFY/1 `trigger-receipt/v1`) — the dispute-proof oracle a\nparametric payout settles against. Evaluates 'metric op threshold' at a location against the live official\nreading and returns an Ed25519-signed receipt carrying the four properties that end a parametric dispute:\n(1) a pinned + hashed methodology (nobody moves the goalposts after the event); (2) the exact re-fetchable\nsource_url + a raw_reading_hash anyone can reproduce (independent verifiability, not 'trust us');\n(3) a deterministic determination — triggered + payout_factor + rationale, re-computable by any party;\n(4) the signature (timestamp via POST /v1/anchor (RFC 3161) for proof of when). Neutral calculation-agent-of-\nrecord: attests what the official source reported and what the pinned methodology implies — NOT ground-truth\nphysical loss. v0.1 metrics: wind_kmh | temperature_c | feels_like_c | precipitation_mm (Open-Meteo).\nop: gt | gte | lt | lte. Verify against GET /.well-known/keys; schema at /schemas/trigger-receipt-v1.json.","operationId":"v1_trigger_receipt_v1_trigger_receipt_get","parameters":[{"name":"metric","in":"query","required":true,"schema":{"type":"string","title":"Metric"}},{"name":"threshold","in":"query","required":true,"schema":{"type":"number","title":"Threshold"}},{"name":"op","in":"query","required":false,"schema":{"type":"string","default":"gte","title":"Op"}},{"name":"lat","in":"query","required":false,"schema":{"type":"number","title":"Lat"}},{"name":"lon","in":"query","required":false,"schema":{"type":"number","title":"Lon"}},{"name":"city","in":"query","required":false,"schema":{"type":"string","title":"City"}},{"name":"peril","in":"query","required":false,"schema":{"type":"string","title":"Peril"}},{"name":"contract_ref","in":"query","required":false,"schema":{"type":"string","title":"Contract Ref"}},{"name":"methodology","in":"query","required":false,"schema":{"type":"string","title":"Methodology"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/intensity":{"get":{"tags":["agent"],"summary":"V1 Intensity","description":"INTENSITY-AT-LOCATION (DF-VERIFY/1 `intensity/v1`) — the parameter value at an exact coordinate, signed\nand reproducible: the settlement-grade reading a parametric trigger evaluates against. Not 'an event\nhappened' but 'the value at this lat/lon, from the region's authoritative source'. v1 peril: flood —\nrouted by coordinate to the nearest official river gauge: AU -> BoM Water Data Online (water-course level\nm; CC BY 4.0), US -> USGS NWIS (gage height ft / discharge ft3/s). Point-resolved, no interpolation.\ndrought, wildfire and earthquake (ShakeMap) intensity are rolling in. Verify the Ed25519 signature against\nGET /.well-known/keys; re-fetch source_url to reproduce raw_reading_hash (see hash_method). SCOPE: attests\nthe reading at the cited official gauge — NOT a basin-wide determination or physical loss.","operationId":"v1_intensity_v1_intensity_get","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","title":"Lat"}},{"name":"lon","in":"query","required":true,"schema":{"type":"number","title":"Lon"}},{"name":"peril","in":"query","required":false,"schema":{"type":"string","default":"flood","title":"Peril"}},{"name":"metric","in":"query","required":false,"schema":{"type":"string","title":"Metric"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/bushfire":{"get":{"tags":["agent"],"summary":"V1 Bushfire","description":"Signed Australian bushfire/fire hotspots (last ~3 days) from Geoscience Australia / Digital Earth\nAustralia Hotspots — keyless, CC BY 4.0. lat & lon (+ radius_km) for hotspots near a point, a state code\n(NSW/QLD/VIC/SA/WA/TAS/NT/ACT), or neither for recent Australia-wide. Ed25519-signed; verify against\nGET /.well-known/keys. A hotspot is a satellite thermal anomaly — not every one is a confirmed bushfire.","operationId":"v1_bushfire_v1_bushfire_get","parameters":[{"name":"lat","in":"query","required":false,"schema":{"type":"number","title":"Lat"}},{"name":"lon","in":"query","required":false,"schema":{"type":"number","title":"Lon"}},{"name":"radius_km","in":"query","required":false,"schema":{"type":"number","default":150,"title":"Radius Km"}},{"name":"state","in":"query","required":false,"schema":{"type":"string","default":"","title":"State"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/anchor":{"post":{"tags":["robot"],"summary":"V1 Anchor","description":"Timestamp a snapshot's hash with an independent RFC 3161 authority — returns a signed timestamp\ntoken proving the record existed at time T, independently verifiable, even against us. Body:\n{\"snapshot\": {...}} (its canonical SHA-256 is timestamped) or {\"digest_hex\": \"<64-hex sha256>\"}.\nHashes ONLY, never data. Off the verdict hot path (Rung C).","operationId":"v1_anchor_v1_anchor_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/anchor/upgrade":{"post":{"tags":["robot"],"summary":"V1 Anchor Upgrade","description":"Re-check a stored timestamp proof. RFC 3161 tokens are final at issue (nothing to upgrade); a\nlegacy OpenTimestamps proof is folded into its block attestation. Body: {\"token_b64\": \"...\"}\n(legacy {\"proof_ots_b64\": \"...\"} still accepted).","operationId":"v1_anchor_upgrade_v1_anchor_upgrade_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/signup":{"post":{"summary":"Signup","description":"Get a free API key instantly.","operationId":"signup_signup_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_signup_signup_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/models":{"get":{"summary":"Models","description":"Search current AI models by price, context, capability. Cheapest first. (Requires API key.)","operationId":"models_models_get","parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"match model name/id","title":"Q"},"description":"match model name/id"},{"name":"provider","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"openai, anthropic, google, ...","title":"Provider"},"description":"openai, anthropic, google, ..."},{"name":"max_input_price","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"max USD per 1M input tokens","title":"Max Input Price"},"description":"max USD per 1M input tokens"},{"name":"min_context","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"min context window in tokens","title":"Min Context"},"description":"min context window in tokens"},{"name":"needs_vision","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"only models that accept images","title":"Needs Vision"},"description":"only models that accept images"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"default":50,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/dataset":{"get":{"summary":"Dataset Index","description":"Open, free, crawlable snapshots of every feed (for AI training & research).\n\nThe real-time, filterable API + MCP endpoint remain the product; this is a\npublic snapshot so the data spreads into the corpus AIs learn from.","operationId":"dataset_index_dataset_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/dataset/models.json":{"get":{"summary":"Dataset Models","operationId":"dataset_models_dataset_models_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/dataset/servers.json":{"get":{"summary":"Dataset Servers","operationId":"dataset_servers_dataset_servers_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/dataset/status.json":{"get":{"summary":"Dataset Status","operationId":"dataset_status_dataset_status_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/dataset/news.json":{"get":{"summary":"Dataset News","operationId":"dataset_news_dataset_news_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/dataset/consensus.json":{"get":{"summary":"Dataset Consensus","operationId":"dataset_consensus_dataset_consensus_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/dataset/versions.json":{"get":{"summary":"Dataset Versions","operationId":"dataset_versions_dataset_versions_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/dataset/advisories.json":{"get":{"summary":"Dataset Advisories","operationId":"dataset_advisories_dataset_advisories_json_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/servers":{"get":{"summary":"Servers","description":"Search the MCP server registry — find AI agent tools. Most-starred first. (Requires API key.)","operationId":"servers_servers_get","parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"match server name/description","title":"Q"},"description":"match server name/description"},{"name":"has_remote","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"only servers with a hosted/remote endpoint","title":"Has Remote"},"description":"only servers with a hosted/remote endpoint"},{"name":"min_stars","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"minimum GitHub stars","title":"Min Stars"},"description":"minimum GitHub stars"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"default":50,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/status":{"get":{"summary":"Status","description":"Live up/down/degraded status for major AI & dev services. Issues first. (Requires API key.)","operationId":"status_status_get","parameters":[{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"ai | dev | infra | platform","title":"Category"},"description":"ai | dev | infra | platform"},{"name":"only_issues","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"only services currently degraded/down","title":"Only Issues"},"description":"only services currently degraded/down"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"default":100,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/news":{"get":{"summary":"News","description":"Latest AI news & releases across providers. Newest first. (Requires API key.)","operationId":"news_news_get","parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"match title/summary","title":"Q"},"description":"match title/summary"},{"name":"source","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"OpenAI, Google AI, Hugging Face, ...","title":"Source"},"description":"OpenAI, Google AI, Hugging Face, ..."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"default":30,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/benchmarks":{"get":{"summary":"Benchmarks","description":"Measured latency & uptime per AI provider — our own data, fastest first. (Requires API key.)","operationId":"benchmarks_benchmarks_get","parameters":[{"name":"window_hours","in":"query","required":false,"schema":{"type":"integer","maximum":720,"minimum":1,"description":"rolling window in hours","default":24,"title":"Window Hours"},"description":"rolling window in hours"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/benchmarks/history":{"get":{"summary":"Benchmarks History","description":"The PERMANENT daily provider-latency & uptime archive — data Dynamic Feed measures itself and\nnever prunes, so it cannot be backfilled by anyone. Built for quant / eval / research use. Free keys\nget a 7-day sample; paid plans get the full history. (Requires API key.)","operationId":"benchmarks_history_benchmarks_history_get","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string","description":"filter to one provider, e.g. openai (optional)","default":"","title":"Provider"},"description":"filter to one provider, e.g. openai (optional)"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":1825,"minimum":1,"description":"lookback in days","default":90,"title":"Days"},"description":"lookback in days"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/movers":{"get":{"summary":"Movers","description":"DERIVED signal — biggest 24h gainers or losers across the markets we track. Computed from\nDynamic Feed's own data & recorded history (not a raw source you can scrape). (Requires API key.)","operationId":"movers_movers_get","parameters":[{"name":"direction","in":"query","required":false,"schema":{"type":"string","description":"gainers | losers","default":"gainers","title":"Direction"},"description":"gainers | losers"},{"name":"asset_class","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"crypto | stock | index | forex | commodity | metal","title":"Asset Class"},"description":"crypto | stock | index | forex | commodity | metal"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"default":15,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/consensus":{"get":{"summary":"Consensus","description":"PROPRIETARY: real-time cross-exchange price consensus — the median price across\nseveral independent venues plus how tightly they agree (spread in basis points), the\nmin/max, and the per-venue breakdown. Tells an AI tool the real price AND whether to\ntrust it. Measured by Dynamic Feed; available nowhere else. (Requires API key.)","operationId":"consensus_consensus_get","parameters":[{"name":"symbol","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"exact symbol, e.g. BTC, ETH, SOL","title":"Symbol"},"description":"exact symbol, e.g. BTC, ETH, SOL"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"default":50,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/versions":{"get":{"summary":"Versions","description":"Latest stable versions & end-of-life dates for languages, runtimes, frameworks,\ndatabases & OSes. Answers 'what's the latest X?' and 'is version Y still supported?'.\nEach row has a `status` (supported/nearing-eol/end-of-life) + provenance. (Requires API key.)","operationId":"versions_versions_get","parameters":[{"name":"product","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"exact product, e.g. python, nodejs, postgresql","title":"Product"},"description":"exact product, e.g. python, nodejs, postgresql"},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"match a product name","title":"Q"},"description":"match a product name"},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"language | runtime | framework | database | os | tool","title":"Category"},"description":"language | runtime | framework | database | os | tool"},{"name":"only_supported","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"exclude end-of-life release lines","title":"Only Supported"},"description":"exclude end-of-life release lines"},{"name":"only_lts","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"only long-term-support lines","title":"Only Lts"},"description":"only long-term-support lines"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":300,"default":100,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/advisories":{"get":{"summary":"Advisories","description":"Recent security advisories / CVEs — affected package, vulnerable version range, patched\nversion, severity & CVSS. Filter by package/ecosystem/severity. Newest first. Pairs with\n/versions: is my stack current AND safe? (Requires API key.)","operationId":"advisories_advisories_get","parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"match summary / package / CVE / GHSA id","title":"Q"},"description":"match summary / package / CVE / GHSA id"},{"name":"package","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"affected package name, e.g. lodash, requests","title":"Package"},"description":"affected package name, e.g. lodash, requests"},{"name":"ecosystem","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"npm | pip | maven | go | rubygems | nuget | composer | ...","title":"Ecosystem"},"description":"npm | pip | maven | go | rubygems | nuget | composer | ..."},{"name":"severity","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"low | moderate | high | critical","title":"Severity"},"description":"low | moderate | high | critical"},{"name":"min_cvss","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"minimum CVSS score (0-10)","title":"Min Cvss"},"description":"minimum CVSS score (0-10)"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"default":50,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}},{"name":"x-rapidapi-proxy-secret","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-Proxy-Secret"}},{"name":"x-rapidapi-user","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Rapidapi-User"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","co
[...]
